.page__container
  section.page__block.thanks
    .thanks__block
      img(src="img/thanksIcon.svg", alt="")
      .text-xxlBold Thank you for your application.
      p.text-l A personal manager <br mob-br/>will contact you shortly.<br data-dsk-br/>and will answer<br mob-br/>your questions
      .thanks-block__buttons
        a.button-m.primary-btn.slide-button(href="#")
          span Go to the main page