.benefits 
  .text-xxl.d-mainTitle(data-aos="fade-up" data-aos-delay="50")  
    |We've compiled the best solutions for country<br/> living to make your choice simple and convenient.
  .benefits__wrapper
    .benefits__content(data-aos="fade-up" data-aos-delay="150")  
        <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/newrubkoff/company.jpg">
          <source src="img/content/main-video.webm" type="video/webm">
          <source src="img/content/main-video.mp4" type="video/mp4">
        </video>
    .benefits__info   
      .benefits__info-text
        .text-l(data-aos="fade-up" data-aos-delay="50")  
          |The largest exhibition of country houses in Moscow,
          |presenting 78 projects from leading manufacturers.
          |Here you can not only look at the facades, but also go inside,
          |evaluate the layouts, materials, and atmosphere of your future home.
        .text-l(data-aos="fade-up" data-aos-delay="150")  
          |Our goal is to simplify the choice: in one place
          |we bring together different styles, technologies, and budgets,
          |so that every visitor can find a project to suit their needs.
        a.accent-link._left(href="#")
          .btn-accent About the exhibition
          <svg xmlns="http://www.w3.org/2000/svg" width="6" height="8" viewBox="0 0 6 8" fill="none">
            <path d="M1 7L4 4L1 1" stroke="#FF783D" stroke-width="1.5"/>
          </svg>
      .benefits__info-people 
        .text-xlBold(data-aos="fade-up" data-aos-delay="50")  
          |More than 10,000 people <br/>
          |visit the exhibition per year
        ul(data-aos="fade-up" data-aos-delay="150")  
          li 
            img(src="/img/dom/slider-people/people-1.jpg" alt="")
          li 
            img(src="/img/dom/slider-people/people-2.jpg" alt="")
          li 
            img(src="/img/dom/slider-people/people-3.jpg" alt="")
          li 
            img(src="/img/dom/slider-people/people-4.jpg" alt="")
          li 
            img(src="/img/dom/slider-people/people-5.jpg" alt="")
          li 
            img(src="/img/dom/slider-people/people-6.jpg" alt="")