.d-article 
  p
    |This page contains cottage and house designs presented by participants of the "House to House" exhibition.
    |Planning to build your own country house? We're sure to find the perfect option here.
    |or you can find contacts of a reliable construction company that will develop an individual project
    |taking into account all the wishes, or modify the standard project to meet the required criteria.
  h2 Geography of construction
  p
    |Despite the fact that the exhibition and the head offices of most construction companies are located in the capital,
    |You can order a house construction not only in Moscow and the surrounding region, but also in any region of the Russian Federation – from Kaliningrad to Sakhalin.
  p
    |Many companies, in addition to their offices, have production facilities in the regions, which allows them to reduce
    |costs of transporting building materials, as well as providing jobs for the required number of qualified workers
    |construction crews.
  h2 Project filters
  p
    |This page contains several thousand house and cottage designs.
    |To avoid having to manually sort through them all, you can filter designs by
    |your desired criteria – number of floors, area, architectural style, construction technology, and other features.
    |On the left side of the screen, simply select where to position the filter sliders, and the site will display the houses and cottages you need.
  p
    |When choosing the number of floors for your future home, it's best to discuss this with a construction company manager.
    |They will explain the advantages and disadvantages of each option in more detail and, depending on your
    |needs, suggest the optimal solution.
  p
    |If, for example, you've always dreamed of building a house with a terrace, there's no need to waste time browsing and
    |sorting through unnecessary options. Select the appropriate filter, and the website will display all houses
    |designed with this extension.
  h2 How to find a construction company and order exchange
  p
    |The main goal of a house exhibition is to bring together a reliable construction company and those
    |who need its services. This means that the client will conclude the construction contract
    |directly with the construction company whose representatives are present at the exhibition.
  p
    |To simplify communication between the client and construction companies,
    |each project page provides the latter's contact information. The project card indicates
    |which construction technology can be used to build the selected house and which companies provide such services.
  p
    |However, if necessary, the exhibition can help you choose a project.
    |There's a hotline for this, which you can call yourself,
    |or leave a request for a call back. When you contact an operator, simply tell them
    |the nature of your order, and they will either suggest which company to contact or post your request
    |on the house exhibition exchange, where all participants will see it and submit their price and timeline proposals.