.developers-grid 
  .developers-block(data-aos="fade-up" data-aos-delay="50")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
      .d-card
        ul.label-list
          li.label-list__item.text-s Frame technology
          li.label-list__item.text-s 4 bedrooms
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-1.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-2.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="100")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          <svg xmlns="http://www.w3.org/2000/svg" width="66" height="47" viewBox="0 0 66 47" fill="none">
            <g clip-path="url(#clip0_198_1743)">
              <path d="M45.6782 2.37288L0 26.0285L0.220007 26.4399L45.8982 2.78423L45.6782 2.37288Z" fill="#151515"/>
              <path d="M47.1985 30.4441H0.230469V30.9121H47.1985V30.4441Z" fill="#151515"/>
              <path d="M47.1985 32.8333H0.230469V33.3012H47.1985V32.8333Z" fill="#151515"/>
              <path d="M45.729 0.0342255L0.0507812 23.6898L0.270788 24.1012L45.9489 0.445482L45.729 0.0342255Z" fill="#151515"/>
              <path d="M62.3796 33.2997H46.9231V30.4345H59.4691V12.2518H62.9474L45.6758 2.94L45.6855 0L66.0002 10.6027V15.117H62.3796V33.2997Z" fill="#CEE176"/>
              <path d="M32.703 30.4457H32.2289V11.8491H28.1133L29.1907 11.2283L29.2829 11.3827H32.703V30.4457Z" fill="#151515"/>
              <path d="M29.786 14.4246V30.4457H29.3137V14.8894H25.6914V12.9205H26.1654V14.4246H29.786Z" fill="#151515"/>
              <path d="M15.2942 12.4031H14.8203V34.8708H15.2942V12.4031Z" fill="#151515"/>
              <path d="M22.142 3.47006H21.6875V35.1541H22.142V3.47006Z" fill="#151515"/>
              <path d="M0.507645 46.8862H0.214844V38.9154H3.08317C3.8597 38.9228 4.46797 39.1686 4.90808 39.6524C5.33614 40.1114 5.57098 40.7133 5.56485 41.3363C5.57317 41.9493 5.3415 42.542 4.91775 42.9916C4.48634 43.4648 3.88017 43.7046 3.09933 43.711H0.510897L0.507645 46.8862ZM0.507645 43.4309H3.08317C3.78423 43.4309 4.32354 43.2224 4.70099 42.8054C5.07692 42.402 5.28133 41.8722 5.27205 41.3252C5.27836 40.7713 5.07013 40.2357 4.6896 39.8274C4.29924 39.403 3.75993 39.1855 3.07188 39.1748H0.507645V43.4309Z" fill="#151515"/>
              <path d="M12.1829 46.8862H11.8594L9.13171 43.329H7.28911V46.8862H7.01562V38.9154H9.8759C11.525 38.9154 12.3641 39.6359 12.3933 41.0769C12.3933 42.5783 11.5579 43.329 9.88732 43.329H9.45205L12.1829 46.8862ZM7.28911 43.0807H9.88732C10.6347 43.0807 11.1934 42.9215 11.5632 42.6032C11.9332 42.2849 12.1182 41.7798 12.1182 41.088C12.1182 39.7914 11.3746 39.1547 9.88732 39.1781H7.28911V43.0807Z" fill="#151515"/>
              <path d="M13.5868 44.7359V41.0482C13.577 40.72 13.6538 40.3948 13.8101 40.1046C13.9664 39.8144 14.1965 39.5692 14.4782 39.393C15.1142 39.0027 15.8487 38.7959 16.5983 38.7959C17.3479 38.7959 18.0824 39.0027 18.7185 39.393C19.0015 39.5681 19.2333 39.813 19.3907 40.1032C19.5483 40.3936 19.626 40.7193 19.6164 41.0482V44.7296C19.625 45.059 19.5468 45.385 19.3895 45.6758C19.2321 45.9667 19.0009 46.2126 18.7185 46.3896C18.0839 46.7837 17.3488 46.9929 16.5983 46.9929C15.8479 46.9929 15.1127 46.7837 14.4782 46.3896C14.1978 46.2123 13.9685 45.9672 13.8125 45.6776C13.6563 45.388 13.5786 45.0637 13.5868 44.7359ZM13.8715 41.0482V44.7296C13.8625 45.0222 13.9326 45.3121 14.0748 45.5693C14.2168 45.8265 14.4259 46.042 14.6804 46.1939C15.2608 46.5345 15.9241 46.7144 16.5999 46.7144C17.2759 46.7144 17.939 46.5345 18.5195 46.1939C18.7732 46.0429 18.9819 45.8284 19.1239 45.5723C19.2661 45.3162 19.3365 45.0275 19.3284 44.7359V41.0482C19.3417 40.7526 19.2735 40.459 19.1312 40.1985C18.9887 39.9378 18.7774 39.7201 18.5195 39.568C17.9318 39.2375 17.2664 39.0647 16.5895 39.0666C15.9127 39.0687 15.2482 39.2453 14.6626 39.5792C14.4094 39.7321 14.2024 39.949 14.0633 40.2074C13.9242 40.4658 13.8579 40.7561 13.8715 41.0482Z" fill="#151515"/>
              <path d="M23.1052 39.1748V38.9154H26.0868V44.7806C26.0993 45.0963 26.032 45.4103 25.8908 45.6941C25.7496 45.9781 25.5391 46.223 25.278 46.4072C24.7246 46.8059 24.0531 47.014 23.3673 46.9993C22.8041 47.0051 22.2501 46.8587 21.7656 46.5759C21.3021 46.3163 20.9579 45.8912 20.8047 45.3885L21.0911 45.2994C21.2375 45.7553 21.5567 46.1384 21.9825 46.369C22.4081 46.6064 22.8893 46.7304 23.3786 46.7286C23.9866 46.7413 24.5825 46.5616 25.079 46.2162C25.3126 46.0567 25.5017 45.8419 25.6286 45.5915C25.7556 45.3411 25.8164 45.0633 25.8053 44.7838V39.1748H23.1052Z" fill="#151515"/>
              <path d="M28.4582 39.1971V42.7655H32.6451V43.0695H28.4582V46.6046H32.9881V46.8862H28.1719V38.9154H32.9881V39.1971H28.4582Z" fill="#151515"/>
              <path d="M34.466 44.7694V41.0322C34.4564 40.7108 34.53 40.3924 34.6801 40.1067C34.8301 39.8211 35.0514 39.5776 35.3234 39.3992C35.9142 38.9966 36.6191 38.7878 37.3376 38.8025C37.8496 38.7982 38.3567 38.9002 38.8259 39.1017C39.2505 39.2727 39.6101 39.5699 39.855 39.9515L39.6042 40.1314C39.3767 39.7841 39.0472 39.5131 38.6593 39.3547C38.2333 39.1662 37.7709 39.0701 37.3036 39.073C36.6664 39.059 36.0406 39.2404 35.5127 39.5918C35.2719 39.7466 35.0755 39.9595 34.9423 40.2104C34.8092 40.4612 34.7438 40.7414 34.7523 41.0243V44.7613C34.7425 45.0444 34.8075 45.3251 34.9407 45.5761C35.074 45.8273 35.271 46.04 35.5127 46.1939C36.0418 46.542 36.6673 46.7209 37.3036 46.7063C37.767 46.7098 38.2264 46.6216 38.6546 46.4469C39.041 46.3008 39.3725 46.0412 39.6042 45.7036L39.855 45.8278C39.6049 46.2132 39.239 46.5125 38.8081 46.684C38.3337 46.8875 37.8212 46.9911 37.3036 46.9881C36.5957 47.0061 35.9 46.8026 35.317 46.4071C35.0453 46.2277 34.8248 45.9832 34.6758 45.6967C34.527 45.4101 34.4548 45.0909 34.466 44.7694Z" fill="#151515"/>
              <path d="M46.1999 38.9154V39.1971H43.4982V46.8862H43.2135V39.1971H40.5117V38.9154H46.1999Z" fill="#151515"/>
              <path d="M47.1992 46.8861V38.8437H49.2667L50.9864 42.775L52.7175 38.8437H54.7851V46.8861H52.7062L52.7175 44.5687L52.8453 42.9454L52.7757 42.9342L51.7015 45.6941H50.2826L49.1858 42.9342L49.1276 42.9454L49.2667 44.5687V46.8861H47.1992Z" fill="#CEE176"/>
              <path d="M58.805 40.7521V42.0031H62.1182V43.7649H58.805V44.9682H62.4078V46.8877H56.7148V38.8437H62.4078V40.7537L58.805 40.7521Z" fill="#CEE176"/>
            </g>
            <defs>
              <clipPath id="clip0_198_1743">
                <rect width="66" height="47" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-4.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-5.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="150")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-7.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-8.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="200")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-10.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-1.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="250")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-1.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-2.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs

  .developers-block
    .advertisement-block(data-aos="fade-up" data-aos-delay="50")
      .advertisement-block__info
        .text-xlBold Become a participant in the largest home exhibition in Moscow
        .advertisement-block__info-content 
          .text-m Submit your application and receive a place at the "House to House" exhibition next to the market's leading companies.
        button.button-m.slide-button(data-modal-side="consult-form")
          span Submit a request
      .advertisement-block__content 
        img(src="/img/dom/footer/footer-svg.svg" alt="")

  .developers-block(data-aos="fade-up" data-aos-delay="300")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-1.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-2.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="350")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          <svg xmlns="http://www.w3.org/2000/svg" width="66" height="47" viewBox="0 0 66 47" fill="none">
            <g clip-path="url(#clip0_198_1743)">
              <path d="M45.6782 2.37288L0 26.0285L0.220007 26.4399L45.8982 2.78423L45.6782 2.37288Z" fill="#151515"/>
              <path d="M47.1985 30.4441H0.230469V30.9121H47.1985V30.4441Z" fill="#151515"/>
              <path d="M47.1985 32.8333H0.230469V33.3012H47.1985V32.8333Z" fill="#151515"/>
              <path d="M45.729 0.0342255L0.0507812 23.6898L0.270788 24.1012L45.9489 0.445482L45.729 0.0342255Z" fill="#151515"/>
              <path d="M62.3796 33.2997H46.9231V30.4345H59.4691V12.2518H62.9474L45.6758 2.94L45.6855 0L66.0002 10.6027V15.117H62.3796V33.2997Z" fill="#CEE176"/>
              <path d="M32.703 30.4457H32.2289V11.8491H28.1133L29.1907 11.2283L29.2829 11.3827H32.703V30.4457Z" fill="#151515"/>
              <path d="M29.786 14.4246V30.4457H29.3137V14.8894H25.6914V12.9205H26.1654V14.4246H29.786Z" fill="#151515"/>
              <path d="M15.2942 12.4031H14.8203V34.8708H15.2942V12.4031Z" fill="#151515"/>
              <path d="M22.142 3.47006H21.6875V35.1541H22.142V3.47006Z" fill="#151515"/>
              <path d="M0.507645 46.8862H0.214844V38.9154H3.08317C3.8597 38.9228 4.46797 39.1686 4.90808 39.6524C5.33614 40.1114 5.57098 40.7133 5.56485 41.3363C5.57317 41.9493 5.3415 42.542 4.91775 42.9916C4.48634 43.4648 3.88017 43.7046 3.09933 43.711H0.510897L0.507645 46.8862ZM0.507645 43.4309H3.08317C3.78423 43.4309 4.32354 43.2224 4.70099 42.8054C5.07692 42.402 5.28133 41.8722 5.27205 41.3252C5.27836 40.7713 5.07013 40.2357 4.6896 39.8274C4.29924 39.403 3.75993 39.1855 3.07188 39.1748H0.507645V43.4309Z" fill="#151515"/>
              <path d="M12.1829 46.8862H11.8594L9.13171 43.329H7.28911V46.8862H7.01562V38.9154H9.8759C11.525 38.9154 12.3641 39.6359 12.3933 41.0769C12.3933 42.5783 11.5579 43.329 9.88732 43.329H9.45205L12.1829 46.8862ZM7.28911 43.0807H9.88732C10.6347 43.0807 11.1934 42.9215 11.5632 42.6032C11.9332 42.2849 12.1182 41.7798 12.1182 41.088C12.1182 39.7914 11.3746 39.1547 9.88732 39.1781H7.28911V43.0807Z" fill="#151515"/>
              <path d="M13.5868 44.7359V41.0482C13.577 40.72 13.6538 40.3948 13.8101 40.1046C13.9664 39.8144 14.1965 39.5692 14.4782 39.393C15.1142 39.0027 15.8487 38.7959 16.5983 38.7959C17.3479 38.7959 18.0824 39.0027 18.7185 39.393C19.0015 39.5681 19.2333 39.813 19.3907 40.1032C19.5483 40.3936 19.626 40.7193 19.6164 41.0482V44.7296C19.625 45.059 19.5468 45.385 19.3895 45.6758C19.2321 45.9667 19.0009 46.2126 18.7185 46.3896C18.0839 46.7837 17.3488 46.9929 16.5983 46.9929C15.8479 46.9929 15.1127 46.7837 14.4782 46.3896C14.1978 46.2123 13.9685 45.9672 13.8125 45.6776C13.6563 45.388 13.5786 45.0637 13.5868 44.7359ZM13.8715 41.0482V44.7296C13.8625 45.0222 13.9326 45.3121 14.0748 45.5693C14.2168 45.8265 14.4259 46.042 14.6804 46.1939C15.2608 46.5345 15.9241 46.7144 16.5999 46.7144C17.2759 46.7144 17.939 46.5345 18.5195 46.1939C18.7732 46.0429 18.9819 45.8284 19.1239 45.5723C19.2661 45.3162 19.3365 45.0275 19.3284 44.7359V41.0482C19.3417 40.7526 19.2735 40.459 19.1312 40.1985C18.9887 39.9378 18.7774 39.7201 18.5195 39.568C17.9318 39.2375 17.2664 39.0647 16.5895 39.0666C15.9127 39.0687 15.2482 39.2453 14.6626 39.5792C14.4094 39.7321 14.2024 39.949 14.0633 40.2074C13.9242 40.4658 13.8579 40.7561 13.8715 41.0482Z" fill="#151515"/>
              <path d="M23.1052 39.1748V38.9154H26.0868V44.7806C26.0993 45.0963 26.032 45.4103 25.8908 45.6941C25.7496 45.9781 25.5391 46.223 25.278 46.4072C24.7246 46.8059 24.0531 47.014 23.3673 46.9993C22.8041 47.0051 22.2501 46.8587 21.7656 46.5759C21.3021 46.3163 20.9579 45.8912 20.8047 45.3885L21.0911 45.2994C21.2375 45.7553 21.5567 46.1384 21.9825 46.369C22.4081 46.6064 22.8893 46.7304 23.3786 46.7286C23.9866 46.7413 24.5825 46.5616 25.079 46.2162C25.3126 46.0567 25.5017 45.8419 25.6286 45.5915C25.7556 45.3411 25.8164 45.0633 25.8053 44.7838V39.1748H23.1052Z" fill="#151515"/>
              <path d="M28.4582 39.1971V42.7655H32.6451V43.0695H28.4582V46.6046H32.9881V46.8862H28.1719V38.9154H32.9881V39.1971H28.4582Z" fill="#151515"/>
              <path d="M34.466 44.7694V41.0322C34.4564 40.7108 34.53 40.3924 34.6801 40.1067C34.8301 39.8211 35.0514 39.5776 35.3234 39.3992C35.9142 38.9966 36.6191 38.7878 37.3376 38.8025C37.8496 38.7982 38.3567 38.9002 38.8259 39.1017C39.2505 39.2727 39.6101 39.5699 39.855 39.9515L39.6042 40.1314C39.3767 39.7841 39.0472 39.5131 38.6593 39.3547C38.2333 39.1662 37.7709 39.0701 37.3036 39.073C36.6664 39.059 36.0406 39.2404 35.5127 39.5918C35.2719 39.7466 35.0755 39.9595 34.9423 40.2104C34.8092 40.4612 34.7438 40.7414 34.7523 41.0243V44.7613C34.7425 45.0444 34.8075 45.3251 34.9407 45.5761C35.074 45.8273 35.271 46.04 35.5127 46.1939C36.0418 46.542 36.6673 46.7209 37.3036 46.7063C37.767 46.7098 38.2264 46.6216 38.6546 46.4469C39.041 46.3008 39.3725 46.0412 39.6042 45.7036L39.855 45.8278C39.6049 46.2132 39.239 46.5125 38.8081 46.684C38.3337 46.8875 37.8212 46.9911 37.3036 46.9881C36.5957 47.0061 35.9 46.8026 35.317 46.4071C35.0453 46.2277 34.8248 45.9832 34.6758 45.6967C34.527 45.4101 34.4548 45.0909 34.466 44.7694Z" fill="#151515"/>
              <path d="M46.1999 38.9154V39.1971H43.4982V46.8862H43.2135V39.1971H40.5117V38.9154H46.1999Z" fill="#151515"/>
              <path d="M47.1992 46.8861V38.8437H49.2667L50.9864 42.775L52.7175 38.8437H54.7851V46.8861H52.7062L52.7175 44.5687L52.8453 42.9454L52.7757 42.9342L51.7015 45.6941H50.2826L49.1858 42.9342L49.1276 42.9454L49.2667 44.5687V46.8861H47.1992Z" fill="#CEE176"/>
              <path d="M58.805 40.7521V42.0031H62.1182V43.7649H58.805V44.9682H62.4078V46.8877H56.7148V38.8437H62.4078V40.7537L58.805 40.7521Z" fill="#CEE176"/>
            </g>
            <defs>
              <clipPath id="clip0_198_1743">
                <rect width="66" height="47" fill="white"/>
              </clipPath>
            </defs>
          </svg>
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-4.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-5.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="400")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-7.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-8.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="450")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-10.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-1.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs
  .developers-block(data-aos="fade-up" data-aos-delay="500")
    a.developers-block__info(href="#")
      .developers-block__info-user 
        .developers-block__icon 
          img(src="/img/dom/developers/developers-icon.png" alt="")
        .user 
          .user__titles 
            .text-lBold «Terem»
            .text-s Construction company
          .user__phone  
            .text-s +7 903 214-30-53
          .user__projects
            .user__projects-item._star 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
              </svg>
              .text-s 5.0
            .user__projects-item
              span 
            .user__projects-item
              .text-s 124 projects
            .user__projects-item
              span 
            .user__projects-item
              .text-s 25 years on the market
      .text-m 
        |Construction company "Terem" has been designing and constructing since 2010
        |buildings made of laminated veneer lumber, aerated concrete blocks, and frame construction...
    .developers-block__slider
      .developers-block__content 
        a.developers-block__content-item(href="#")
          img(src="/img/dom/developers/developers-1.jpg" alt="")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
        a.developers-block__content-item(href="#")
          .label
            .text-m Tradition
            span 
            .text-m 256 m²
          img(src="/img/dom/developers/developers-2.jpg" alt="")
        a.developers-block__content-item(href="#")
          .d-card._last
            img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
            .d-card__cover 
              .link.button-s(href="#") All house designs