.d-fixedBlock
  .d-fixedBlock__icon
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
      <path d="M-9.2716e-08 8.53027L8.53027 7.4574e-07L17.0605 8.53027L16 9.59082L8.53027 2.12109L1.06055 9.59082L-9.2716e-08 8.53027Z" fill="white"/>
    </svg>
  .d-fixedBlock__address 