.d-gridSliderSmall
  .d-grid.small
    .d-gridCard 
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-normal.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-2.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
    .d-gridCard 
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-3.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-4.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
    .d-gridCard 
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-5.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-6.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
    .d-gridCard 
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-7.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
      a.card-small(href="#" data-aos="fade-up" data-aos-delay="50")
        .card-small__content 
          img(src="/img/dom/card-sm/card-sm-8.png" alt="")
        .card-small__info 
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews