.d-gridSlider(data-tab="services")
  .d-grid
    a.d-card(href="#" data-aos="fade-up" data-aos-delay="150")
      ul.label-list 
        li.label-list__item.text-s._active Frame technology
        li.label-list__item.text-s 4 bedrooms
        li.label-list__item.text-s 2 bathrooms
      .d-card__content 
        img(src="/img/dom/dGridSlider/services/services.jpg" alt="")
        .title-label.caps-m house at the exhibition №1
      .d-card__info 
        .top
          span.text-lBold Premier 
          span |
          span.text-lBold 256 m²
        .bottom 
          .title 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect width="24" height="24" rx="12" fill="#49CF61"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3778 17V13.8569H12.4461C15.8322 13.8569 17 12.1257 17 10.4429C17 8.79884 16.0948 7 12.4461 7H8V17H10.3778ZM12.507 9.06964C14.0078 9.06964 14.5284 9.64019 14.5284 10.4284C14.5284 11.2698 13.8999 11.7872 12.4132 11.7872H10.3731V9.07446H12.507V9.06964Z" fill="white"/>
            </svg>
            .caps-m RUSS-HOUSE
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 5.0
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 68
            span.text-s reviews
    a.d-card(href="#" data-aos="fade-up" data-aos-delay="200") 
      
      ul.label-list 
        li.label-list__item.text-s Installment
        li.label-list__item.text-s._active Frame technology
        li.label-list__item.text-s 4 bedrooms
        li.label-list__item.text-s 2 bathrooms

      .d-card__content 
        img(src="/img/dom/dGridSlider/services/services.jpg" alt="")
        .title-label.caps-m house at the exhibition №1
      .d-card__info 
        .top
          span.text-lBold Courchevel
          span |
          span.text-lBold 256 m²
        .bottom 
          .title 
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <rect x="0.666016" width="24" height="24" rx="12" fill="#930338"/>
              <path d="M15.9179 17.999H15.3914C15.3921 17.8044 15.4316 17.6119 15.5077 17.433C15.5838 17.2542 15.6948 17.0927 15.8342 16.9582C16.1218 16.6807 16.5044 16.5259 16.9023 16.5259C17.3002 16.5259 17.6828 16.6807 17.9704 16.9582C18.11 17.0928 18.2212 17.2544 18.2974 17.4335C18.3735 17.6125 18.413 17.8052 18.4136 18H17.8874C17.8869 17.8729 17.861 17.7472 17.8115 17.6304C17.7619 17.5136 17.6896 17.408 17.5988 17.3199C17.411 17.1401 17.1619 17.0399 16.903 17.0399C16.644 17.0399 16.395 17.1401 16.2072 17.3199C16.1163 17.408 16.044 17.5135 15.9943 17.6304C15.9447 17.7472 15.9188 17.8729 15.9182 18L15.9179 17.999ZM11.6814 17.999H11.1546C11.1555 17.8044 11.1952 17.6119 11.2713 17.4331C11.3475 17.2543 11.4585 17.0928 11.5978 16.9582C11.8854 16.6805 12.2681 16.5255 12.6662 16.5255C13.0643 16.5255 13.447 16.6805 13.7346 16.9582C13.8738 17.093 13.9847 17.2548 14.0606 17.4337C14.1366 17.6127 14.1761 17.8053 14.1768 18H13.65C13.6495 17.8729 13.6238 17.7473 13.5743 17.6305C13.5249 17.5137 13.4527 17.408 13.362 17.3199C13.174 17.1403 12.9248 17.0402 12.6658 17.0402C12.4069 17.0402 12.1578 17.1403 11.9697 17.3199C11.8789 17.4079 11.8065 17.5135 11.757 17.6304C11.7075 17.7472 11.6818 17.8729 11.6814 18V17.999ZM7.44431 17.999H6.91814C6.91895 17.8044 6.95853 17.612 7.03454 17.4332C7.11058 17.2544 7.22146 17.0928 7.36064 16.9582C7.64823 16.6807 8.03082 16.5259 8.42872 16.5259C8.82666 16.5259 9.20925 16.6807 9.49684 16.9582C9.63629 17.0929 9.74741 17.2546 9.82362 17.4336C9.89982 17.6125 9.93951 17.8052 9.94035 18H9.41351C9.41321 17.8729 9.3875 17.7471 9.33791 17.6303C9.28831 17.5134 9.21587 17.4078 9.12491 17.3199C8.93681 17.1402 8.68762 17.04 8.42856 17.04C8.16952 17.04 7.9203 17.1402 7.73224 17.3199C7.64141 17.4079 7.56907 17.5135 7.51954 17.6304C7.47001 17.7472 7.44431 17.8729 7.44397 18L7.44431 17.999ZM5.77745 17.999H5.38434V16.0222H4.66602V15.061L7.21044 12.8151V11.6685C7.12536 11.6486 7.04936 11.6006 6.99452 11.532C6.93972 11.4634 6.90927 11.3782 6.90806 11.2901C6.91052 11.1857 6.95329 11.0863 7.02728 11.0132C7.10127 10.9402 7.20063 10.8991 7.30419 10.8989H7.32301C7.41699 10.8989 7.50785 10.9332 7.57871 10.9955C7.64954 11.0578 7.69561 11.144 7.70838 11.2379C7.72098 11.3344 7.69722 11.432 7.64185 11.5117C7.58647 11.5913 7.50351 11.647 7.40936 11.6678V11.7176H9.62685V9.5025H8.48988L10.8082 8.53289L12.6531 5.81297C12.5484 5.80943 12.4492 5.76472 12.3768 5.68838C12.3043 5.61204 12.2643 5.51014 12.2654 5.40445C12.2654 5.29718 12.3076 5.19431 12.3828 5.11846C12.4579 5.04261 12.5599 5 12.6662 5C12.7725 5 12.8744 5.04261 12.9496 5.11846C13.0248 5.19431 13.067 5.29718 13.067 5.40445C13.0681 5.51016 13.0282 5.61212 12.9557 5.68847C12.8832 5.76483 12.784 5.80952 12.6793 5.81297L14.5245 8.53289L16.8428 9.5025H15.7059V11.7183H17.9234V11.6685C17.8383 11.6487 17.7622 11.6006 17.7074 11.532C17.6526 11.4634 17.6221 11.3782 17.621 11.2901C17.6301 11.1891 17.6764 11.0952 17.7507 11.0267C17.825 10.9583 17.9219 10.9204 18.0225 10.9204C18.1231 10.9204 18.22 10.9583 18.2943 11.0267C18.3686 11.0952 18.4148 11.1891 18.424 11.2901C18.4228 11.3782 18.3924 11.4634 18.3375 11.532C18.2827 11.6006 18.2067 11.6486 18.1216 11.6685V12.8151L20.666 15.061V16.0218H19.947V17.9983H19.5539V16.0222H14.1519C14.1996 15.9686 14.2551 15.9116 14.3135 15.8526C14.6961 15.5038 14.9831 15.0613 15.1464 14.5678C15.3215 13.9467 15.0645 13.3592 14.3374 12.7194C14.048 12.4745 13.7451 12.2464 13.4302 12.036L13.4259 12.0329L13.4047 12.018C13.14 11.8511 12.8924 11.658 12.6655 11.4417C12.4389 11.6583 12.1913 11.8514 11.9264 12.018L11.9052 12.0329L11.9008 12.036C11.5859 12.2463 11.283 12.4745 10.9936 12.7194C10.2662 13.3595 10.0092 13.947 10.1846 14.5678C10.3478 15.0612 10.6348 15.5037 11.0175 15.8523C11.076 15.913 11.1311 15.97 11.1791 16.0218C9.38461 16.0218 7.55045 16.0218 5.77745 16.0218V17.999ZM15.5721 15.7648H20.3546V15.3149H16.0358C15.8924 15.4764 15.7375 15.6265 15.5721 15.7648ZM12.6662 10.4867L12.8053 11.1261C12.8325 11.2735 13.1574 11.499 13.5683 11.7844L13.5737 11.7882L13.6036 11.8088C13.9253 12.0249 14.2348 12.259 14.5306 12.5099C15.1353 13.0408 15.4445 13.5568 15.4791 14.0874C15.4778 14.3853 15.4178 14.6799 15.3024 14.9542C15.187 15.2284 15.0186 15.4767 14.8071 15.6845C14.7906 15.7038 14.7291 15.7645 14.7285 15.7652H15.22C15.22 15.7652 15.2939 15.7099 15.3272 15.6838C15.9152 15.2245 16.2277 14.7864 16.2828 14.3457C16.2973 14.1516 16.2724 13.9564 16.2098 13.7723C16.1472 13.5881 16.0481 13.4187 15.9186 13.2744C15.4913 12.7823 15.0119 12.3389 14.4889 11.9523C14.3579 11.8468 14.2201 11.739 14.0857 11.6349C13.542 11.2654 13.063 10.8071 12.6685 10.2788C12.6674 10.2803 12.6665 10.2819 12.6658 10.2836C12.6651 10.2827 12.6646 10.2817 12.6642 10.2805C12.2694 10.8089 11.7901 11.2672 11.246 11.6366C11.1116 11.7407 10.9731 11.8485 10.8428 11.9536C10.3198 12.3402 9.84052 12.7835 9.41351 13.2758C9.28398 13.42 9.18489 13.5894 9.12222 13.7735C9.05955 13.9576 9.03462 14.1526 9.04897 14.3467C9.10408 14.7874 9.4162 15.2258 10.0049 15.6852C10.0384 15.712 10.111 15.7662 10.112 15.7665H10.6036C10.6036 15.7665 10.5948 15.7584 10.5848 15.7482C10.5653 15.7282 10.5354 15.6984 10.5249 15.6859C10.3134 15.478 10.145 15.2298 10.0296 14.9555C9.91427 14.6813 9.85419 14.3867 9.85298 14.0887C9.88658 13.5582 10.1984 13.0422 10.8018 12.5113C11.0985 12.2593 11.4091 12.0244 11.7321 11.8078L11.758 11.7892L11.7634 11.7854C12.1743 11.5 12.4989 11.2742 12.5264 11.1271L12.6655 10.4877L12.6662 10.4867ZM4.97679 15.7652H9.75957C9.59435 15.6268 9.43952 15.4763 9.29624 15.3149H4.97713L4.97679 15.7652ZM15.7284 12.5821L15.9588 12.8157H16.0455V11.9926H15.7284V12.5821ZM9.28717 11.9946V12.8157H9.3742L9.6047 12.5821V11.9926H9.28751L9.28717 11.9946ZM17.5525 11.9946V12.8154H17.8686V11.9926H17.5528L17.5525 11.9946ZM16.9379 12.8154H17.2541V11.9926H16.9379V12.8154ZM16.3419 11.9946V12.8154H16.6584V11.9926H16.3422L16.3419 11.9946ZM8.67334 12.8154H8.9895V11.9926H8.67334V12.8154ZM8.07628 12.8154H8.39277V11.9926H8.07628V12.8154ZM7.46178 12.8154H7.7776V11.9926H7.46178V12.8154ZM15.0951 12.0336L15.4119 12.2987V11.9936H15.0951V12.0336ZM9.92086 11.9943V12.2994L10.2377 12.0343V11.9926H9.92119L9.92086 11.9943ZM12.6672 9.73237L12.7868 9.9778V9.97984C13.022 10.4667 13.608 10.9311 14.1761 11.3803C14.2769 11.461 14.3821 11.5437 14.4822 11.6244H15.1794V9.61945H10.1533V11.6237H10.8505C10.9513 11.5431 11.0548 11.4607 11.1553 11.381C11.7234 10.9315 12.3111 10.4657 12.5459 9.97916V9.97713L12.6655 9.73169L12.6672 9.73237ZM12.6648 15.1455L12.4935 14.2681L11.9828 14.5417L12.2852 14.0921L11.458 13.926L12.308 13.7565L12.097 13.3307L12.4979 13.5578L12.6638 12.7072L12.8362 13.5887L13.3462 13.3137L13.0438 13.763L13.871 13.9294L13.021 14.0989L13.232 14.5254L12.8308 14.2983L12.6655 15.1455H12.6648Z" fill="white"/>
            </svg>
            .caps-m Terem
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.5
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 1 265
            span.text-s reviews
    a.d-card(href="#" data-aos="fade-up" data-aos-delay="250") 
      
      ul.label-list 
        li.label-list__item.text-s Installment
        li.label-list__item.text-s Frame technology
        li.label-list__item.text-s._active 4 bedrooms
        li.label-list__item.text-s 2 bathrooms

      .d-card__content 
        img(src="/img/dom/dGridSlider/services/services.jpg" alt="")
        .title-label.caps-m house at the exhibition №3
      .d-card__info 
        .top
          span.text-lBold  Leader
          span |
          span.text-lBold  256 m²
        .bottom 
          .title 
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <rect x="0.333984" width="24" height="24" rx="12" fill="#CEE176"/>
              <path d="M5.33398 16V8H7.24179L8.82868 11.9106L10.426 8H12.334V16H10.4156L10.426 13.6949L10.544 12.08L10.4798 12.0689L9.48857 14.8143H8.17925L7.16715 12.0689L7.11345 12.08L7.24179 13.6949V16H5.33398Z" fill="black"/>
              <path d="M16.1697 9.89793V11.1421H19.0796V12.8943H16.1697V14.091H19.334V16H14.334V8H19.334V9.89954L16.1697 9.89793Z" fill="black"/>
            </svg>
            .caps-m Project Me
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.9
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 47
            span.text-s reviews
    a.d-card(href="#" data-aos="fade-up" data-aos-delay="300") 
      
      ul.label-list 
        li.label-list__item.text-s Installment
        li.label-list__item.text-s._active 4 bedrooms
        li.label-list__item.text-s 2 bathrooms
      
      .d-card__content 
        img(src="/img/dom/dGridSlider/services/services.jpg" alt="")
        .title-label.caps-m house at the exhibition №4
      .d-card__info 
        .top
          span.text-lBold Tradition
          span |
          span.text-lBold 256 m²
        .bottom 
          .title 
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <rect width="24" height="24" rx="12" fill="black"/>
              <path d="M5 18V11.3143L8.02703 14.4714H11.8108L8.97297 18H5Z" fill="white"/>
              <path d="M10.6757 11.3143H14.8378L12.1892 7.97143H8.02703L5.18919 5H13.3243L19 11.3143H14.8378L17.6757 14.4714H19V17.6286H15.973L10.6757 11.3143Z" fill="white"/>
            </svg>
            .caps-m Regard
          .star 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
            </svg>
            .text-s 4.8
          .review
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
            </svg>
            p.text-s 40
            span.text-s reviews
    a.d-card(href="#" data-aos="fade-up" data-aos-delay="350")
      
      ul.label-list 
        li.label-list__item.text-s Installment
        li.label-list__item.text-s._active 4 bedrooms
        li.label-list__item.text-s 2 bathrooms
      
      .d-card__content 
        img(src="/img/dom/dGridSlider/services/services.jpg" alt="")
        .title-label.caps-m house at the exhibition №4
      .d-card__info 
        .top
          span.text-lBold Bordeaux
          span |
          span.text-lBold 256 m²
        .bottom 
          .title 
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <rect x="0.666016" width="24" height="24" rx="12" fill="#F15222"/>
              <rect x="10.8672" y="13.8" width="1.2" height="1.2" fill="white"/>
              <rect x="10.8672" y="16.1997" width="1.2" height="1.2" fill="white"/>
              <rect x="13.2656" y="13.8" width="1.2" height="1.2" fill="white"/>
              <rect x="13.2656" y="16.1997" width="1.2" height="1.2" fill="white"/>
              <path d="M7.46602 17.2H5.66602L12.666 5L19.666 17.2H17.866L12.666 7.99999L7.46602 17.2Z" fill="white"/>
            </svg>
            .caps-m Arheldom
    .d-card._last( data-aos="fade-up" data-aos-delay="400")
      img(src="/img/dom/dGridSlider/services/services.jpg" alt="")
      .d-card__cover 
        a.link.button-s(href="#") All house designs