.d-slider
  .d-slider__wrapper 
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Вдохновитесь домами,
          .movable-title в которых хочется жить
      img(src="/img/dom/dSlider/d-slider-1.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Здесь рождаются мечты
          .movable-title в которых хочется жить
      img(src="/img/dom/dSlider/d-slider-2.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Здесь рождаются мечты
          .movable-title о собственном доме
      img(src="/img/dom/dSlider/d-slider-3.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Место, где мечты
          .movable-title о доме становятся
          .movable-title реальностью
      img(src="/img/dom/dSlider/d-slider-4.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Выбор дома — 
          .movable-title это история про вас
          .movable-title и вашу семью
      img(src="/img/dom/dSlider/d-slider-1.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Вдохновись домами 33,
          .movable-title о собственном доме 33
      img(src="/img/dom/dSlider/d-slider-2.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Вдохновись домами 22, 
          .movable-title о собственном доме 22
      img(src="/img/dom/dSlider/d-slider-3.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Вдохновись домами,
          .movable-title о собственном доме 11
      img(src="/img/dom/dSlider/d-slider-4.jpg" alt="")
    .d-slider__card 
      .d-slider__card-info 
        .text-xlBold
          .movable-title Вдохновись домами 11,
          .movable-title о собственном доме
      img(src="/img/dom/dSlider/d-slider-3.jpg" alt="")
  .swiper-pagination