
.exhibition-block
  .exhibition-block__info 
    <div>
      .text-l 
        |Here you can talk to developers, understand the differences between different construction technologies, and understand all the stages and timelines of a project. The exhibition presents all the
        |modern formats and technologies: frame, timber, half-timbered, SIP, and stone houses.
      .text-l 
        |This is the only exhibition located within the Moscow Ring Road. Within walking distance of the
        |Domodedovskaya metro station, you'll find a true oasis of country life within the
        |metropolis. The venue features over 80 completed homes and projects—from compact
        |solutions to large family cottages.
    </div>
    a.button-m.slide-button.primary-btn(href="#")
      span
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M1.75452 8.0812C1.32114 7.91268 1.10444 7.82838 1.04118 7.70696C0.986341 7.6017 0.986268 7.4763 1.04099 7.37098C1.10411 7.24948 1.3207 7.16496 1.75388 6.9959L14.0473 2.19847C14.4383 2.04587 14.6339 1.96958 14.7588 2.01131C14.8673 2.04756 14.9524 2.1327 14.9887 2.2412C15.0305 2.36614 14.9542 2.56166 14.8015 2.9527L10.0041 15.2461C9.83508 15.6793 9.75049 15.8959 9.629 15.959C9.52374 16.0137 9.39831 16.0137 9.29305 15.9588C9.17163 15.8956 9.08733 15.6789 8.91881 15.2455L7.00569 10.326C6.97147 10.238 6.95437 10.1941 6.92794 10.157C6.9045 10.1242 6.87582 10.0954 6.84299 10.0721C6.80594 10.0456 6.76197 10.0285 6.67403 9.99432L1.75452 8.0812Z" fill="white"/>
        </svg>
        .button-m Get directions
  a.exhibition-block__content(href="img/content/escape.mp4" data-fancybox data-width="640" data-height="900")
    .exhibition-block__button 
      button.button-m.slide-button.primary-btn
        span
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 10 14" fill="none">
            <path d="M0 0V14L10 7.00137L0 0Z" fill="black"/>
          </svg>
          .button-m Video about the exhibition
    <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/newrubkoff/company.jpg">
      <source src="img/content/main-video.webm" type="video/webm">
      <source src="img/content/main-video.mp4" type="video/mp4">
    </video>


//- 