.layer-map(data-layer-link="/api/house-popup-2.json" data-map-id="map2")
  .layer-map__icon 
    img(src="/img/dom/map/map-icon-1.png" class="map icon" alt="")
  .layer-map__icon 
    img(src="/img/dom/map/map-icon-2.png" class="map icon" alt="")
  .layer-map__icon 
    img(src="/img/dom/map/map-icon-2.png" class="map icon" alt="")
  .layer-map__icon 
    img(src="/img/dom/map/map-icon-3.png" class="map icon" alt="")
  <svg class="main-svg" viewBox="0 0 3840 2020" preserveAspectRatio="xMidYMid meet">
    <a class="layer-map__link" data-link-id="1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1679.4636,1660.1149 -90.9387,70.9451 -149.9521,-69.9776 55.1437,-45.4694 3.2248,-11.6092 5.1596,-2.9023v -16.4463l -7.0945,-3.8698 44.5019,-64.818 31.2803,3.2248 51.9189,21.9285 0.3225,-8.0619 16.1239,3.2247 -0.3225,14.5115 30.6354,7.417 -0.645,5.8046 -3.8697,0.3225 1.6124,25.7982 26.1207,9.3518v 6.4496l -10.6418,5.8046 1.2899,37.0849z">
    </a>
    <a class="layer-map__link" data-link-id="0">
      <path class="layer-map__path" fill="#f9f9f9" d="m 954.51739,975.95185 81.92581,36.62795 76.7496,-47.72667 15.1565,-23.54087 2.2573,-9.67433 6.7721,-5.8046 -0.3225,-22.57343 -15.4789,-7.09451 0.3224,-26.44317 -81.9093,-34.82758 -87.7139,59.98084z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2767.7812,1136.0262 -90.2983,59.2868 -62.0231,-27.8192 -16.4179,13.6816 -39.2205,-21.4345 -8.217,-10.9143 -20.6386,10.4806 -40.9546,-17.2526 -1.9349,-20.961 21.4448,-16.9301 -2.2574,-55.7887 21.2836,-12.5766 -1.29,-20.3161 84.1667,-59.65834 156.0792,62.23814z">
    </a>
    <a class="layer-map__link" data-link-id="0">
      <path class="layer-map__path" fill="#f9f9f9" d="m 696.06801,691.8758 -76.10473,-32.73148 0.32248,-46.75926 -9.83557,-4.83717 -0.16124,-3.22477 50.95147,-33.05396 -4.03097,-21.606 12.57663,-9.83557 1.12867,-0.8062 17.4138,5.64336 0.32247,13.06035 59.81961,-37.56865 48.04917,61.43199 -12.41539,9.19062 1.12867,41.59961z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1148.6654,372.46169 -86.7465,-32.24777 3.6472,-2.84926 0.5701,-11.4013 7.7529,-2.73632 2.0522,9.5771 11.1733,-8.89302 -0.342,-15.16373 8.4369,-3.07836 2.0523,11.2873 10.4892,-8.43697 -0.9121,-2.50829 23.9427,-43.32496 1.8242,-1.59619 45.8333,15.50578 35.0443,-21.51588 29.023,38.69732 14.834,6.77203 0.6449,7.41699 0.035,7.85003 8.893,4.10448 -70.4601,42.64088 -12.5414,-5.70065 -7.9809,-3.19237z">
    </a>
    <a class="layer-map__link" data-link-id="3">
      <path class="layer-map__path" fill="#f9f9f9" d="m 795.58318,578.27427 41.50076,16.41789 67.49573,-40.81668 -0.22802,-11.85736 -10.94526,-2.28026V 507.8142l -12.54144,-3.42039v -23.03064l -86.19387,-36.25616 -59.2868,37.16826 0.68408,44.23707 13.45354,-7.29683z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1048.6973,452.43614 21.2835,-16.76883 11.2868,0.96743 0.2604,-3.4991 33.6338,-20.0663 -0.679,-17.38926 8.8681,-6.12708 -0.3225,-14.99521 -34.6663,-16.6076 -92.0674,-34.98882 -45.63059,70.46136 1.61239,3.7085 3.7085,2.17672 -0.0806,21.36415 47.4106,18.50623v 7.75289l 2.0897,1.15148 2.9023,-1.53177 13.141,-9.35185z">
    </a>
    <a class="layer-map__link" data-link-id="5">
      <path class="layer-map__path" fill="#f9f9f9" d="m 573.68774,820.38314 -22.25096,19.02618 0.32248,8.38442 131.2484,57.07855 63.5281,-40.63219 -0.32248,-15.8014 32.89272,-25.47574 -26.12069,-13.86653 1.61239,-20.63857 -7.73946,-9.67433 -14.5115,-5.15965 -29.02298,-36.43997 -6.12708,-2.57982 -5.15964,4.51469 4.19221,5.15964 -14.83397,9.02937 -38.05237,-16.12388 -25.79821,42.56705 -0.64495,9.02937 -17.09132,4.51469 -17.73627,11.28672v 6.12707l -9.67433,0.96744z">
    </a>
    <a class="layer-map__link" data-link-id="0">
      <path class="layer-map__path" fill="#f9f9f9" d="m 836.62788,450.35161 0.68408,11.62934 43.78102,18.69814v 22.80261l 13.22552,4.78855 -0.22803,5.70066 41.72878,18.24209 62.70719,-36.48419 -1.59618,-47.65746 5.24464,-0.9121 -0.2281,-8.20894 -50.62177,-20.0663 -0.45605,-24.62683 -10.03315,-5.47262 -15.96183,11.85736 0.45605,7.98091 -61.33903,-25.53893 -34.43195,63.16324z">
    </a>
    <a class="layer-map__link" data-link-id="1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 846.20498,754.7665 -92.80663,-42.64088 23.71471,-20.97841 -1.36815,-9.12104 15.96183,-12.31342 -6.38474,-3.87644 32.60774,-70.23205 34.43195,13.45354 8.20894,-5.92868 1.36815,-10.4892 11.40131,-0.22803 1.59618,7.29684 28.04722,47.42944 -7.98092,4.78855 0.68408,4.78854 25.3109,11.17329 -37.39628,25.08287 1.14013,35.8001z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1088.8248,568.9252 1.5962,38.53642 -25.995,15.7338 -1.8242,9.5771h -3.1924l -31.4676,19.61025 -93.26268,-41.04471 -0.45605,-26.45103 44.92115,-66.81165 89.61428,34.88799 24.6268,12.99749z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1114.5917,395.39732 3.4204,77.75691 98.2793,40.1326 33.7479,-55.41035 29.4153,11.85736 11.6294,-9.34908 -7.7529,-14.59367 -5.7007,-1.36816 0.4561,-48.79759 -101.9277,-41.50075z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1267.9821,376.00894 -11.9317,9.35185 24.1859,9.99681 15.4789,7.41699 3.5473,1.61238 -0.9675,11.28672 53.8538,24.5083 60.3033,-43.53448v -21.28352l 5.1597,-12.25416 -0.3225,-3.22477 -20.9611,-6.44955 -1.2899,-18.70371 2.9023,-1.61239 -1.2899,-3.54725 -23.8633,-9.35185 0.6449,-9.35185 -4.5147,-2.57983 -7.7394,4.19221v 6.77203l -61.5933,-24.5083 -3.2247,1.93487 -30.9579,51.9189z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 747.24164,850.08143 0.22803,35.11602 47.88548,19.38222 57.46259,-36.94023 -1.14013,-27.36314 11.17328,-8.89302 -32.83576,-39.22049 -65.4435,43.78102z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 877.13921,770.07663 -0.32248,6.77203 88.68136,39.98723 85.13411,-58.04598 -0.645,-10.31928 -3.5472,-2.9023 -1.2899,-74.16986 -76.74972,-32.89272 -84.81162,55.14368 1.53177,38.77793 -9.9968,6.85265 0.24185,3.22478 9.99681,4.83717 -0.16124,5.48212 -8.38442,6.53017z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1281.8487,660.11175 -98.0332,66.75287 -121.8966,-57.7235 36.44,-25.15325 -0.3225,-44.50192 -3.2248,-0.96743 69.9777,-43.21201h 10.3193l 0.3224,-11.28671 0.3225,-3.22478 8.7069,-2.57982 4.8372,4.19221v 8.38442l 10.3193,-6.12708 43.212,52.24138 -0.645,3.54726 13.5441,5.15964 1.6124,40.95466z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1399.2305,576.59004 -31.9253,22.25096 -13.544,13.22158 -6.1271,-4.19221 -13.8665,10.96424 -105.7727,-44.17944 -0.645,-42.24457 -15.4789,-9.67433 38.3749,-64.81801 66.7528,23.21839 -0.3225,-6.77203 16.7689,-12.57662 15.1564,8.70689 -1.6124,2.9023 0.3225,22.25096 57.401,23.54087 -2.2573,5.15964 -5.1596,0.64496z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1541.1207,488.87612 -16.4464,12.25415v 10.31928l -55.4661,42.88953 -64.4956,-27.4106 -0.3224,-9.02937 -56.7561,-24.18583 0.3225,-18.38122 2.9023,-4.51469 -7.0945,-5.48212 -0.3225,-13.54406 -9.0294,0.80619 52.4424,-32.11719 98.0513,-62.25113 5.4726,1.14013 59.9325,76.29812 -0.1612,47.72669z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 951.63155,925.18838 -45.46935,33.53768 -99.96807,-44.17944 89.97126,-66.4304 7.09451,-6.12707 5.48212,3.54725 15.47893,-9.67433 29.02299,36.1175 -0.96744,5.48212 14.5115,5.80459 -16.12389,10.64177z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1260.8876,858.43551 -57.0785,35.79502 -89.0039,-39.66476 14.3503,-8.54565v -8.54566l 6.9333,-1.45115v 5.32088l 9.0293,-6.12707 -0.3224,-12.73787 7.5782,-3.22478v 10.803l 10.3314,-5.97102 -0.2281,-5.92868 17.558,-32.83577 6.1567,-4.10447 35.5721,15.96183 30.5555,-19.15419 33.0764,42.68045 0.645,18.38123z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1457.9991,728.31547 -83.9136,54.27022 -108.0844,-44.69312 2.2803,-11.85736 56.5504,-37.85234 24.1708,-37.85234 18.6981,8.20894 1.3682,-8.20894 5.4726,1.82421 -0.9121,8.20894 15.5058,6.38473v -2.28026l 10.9453,2.28026 -0.9121,4.56053 35.572,13.68156 -2.2802,4.10448h -2.7363l 0.456,23.71471z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1590.2543,652.15474 -78.8971,44.23707 -15.9618,-7.75289 -5.9287,6.84079 -27.8192,-13.68157 -9.121,7.29684 -24.1708,-12.76947 1.3682,-7.75289 -31.4676,-14.13762 0.456,-41.0447 -8.2089,-1.36816 143.6564,-85.28177 55.6384,72.05626z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1704.9393,500.16284 -0.3224,43.212 -6.7721,-0.96743 -37.4074,59.98084v 15.47893l -24.5083,15.8014 -45.4693,-20.31609v -15.8014l -56.4336,-71.26756 -8.062,-1.28991 0.3225,-24.18583 68.3653,-45.46935z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1160.653,1095.6656 -34.888,23.7147 -55.1823,-25.767 -0.4561,-20.9784 -8.893,-5.2446 20.7504,-31.9236 60.883,25.7669 16.1898,9.5771z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1240.4622,959.48173 -55.4104,-23.94274 -38.0803,-9.34907 -15.9619,6.61276 -1.8242,11.4013 -23.4867,34.43195 -17.1019,13.22552 0.228,28.95935 -9.8051,10.4892 113.557,57.0065 57.0065,-38.9925 -1.8242,-25.9949 17.33,-12.9975 -15.5058,-7.5249 0.6841,-9.5771 -11.8574,-4.10447 -0.257,-26.78669z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1411.7098,765.2557 61.7951,77.52889 -17.102,11.85736 0.6841,10.71723 0.1895,25.32409 -19.9936,13.86654 2.4186,12.89911 0.5116,1.4964 -57.1065,45.26286 -29.4295,-12.65512 0.3421,-5.01658 -20.7504,-10.14716 -13.1115,6.9548 -25.4249,-15.96183 -0.1056,-7.47448 -32.6911,-13.82623 -0.4951,-48.47529 93.933,-64.31127z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1631.092,792.00511 -97.7108,70.62261 -69.9776,-31.60281 -29.5753,-39.09015 28.2753,-18.47011 1.2541,-0.57007 -0.6841,-28.73129 31.0116,-52.10397 72.4275,24.96974 34.0214,7.9007 -0.4837,3.70849h -0.9674v 20.63857l 22.4122,9.67433 0.1612,29.02299z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1757.8257,708.4834 -29.3455,-14.18902 -17.4138,-3.86973 -0.3225,-11.28672 7.7395,-3.86973 -34.1826,-40.30971 -16.4464,8.38442 -4.8372,-3.54725 -5.4821,3.86973 -19.3486,11.6092 -0.9589,5.20311 0.6841,3.64841 -37.2823,20.97841 -0.798,4.21848 -4.9026,-3.42039 -33.6339,21.89051 1.1402,8.66499 13.5132,1.37714 24.0246,6.44955 -0.1613,12.41539 -0.1612,11.77044 63.0444,28.05555z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1833.3301,610.19793 10.0332,-4.56052v -6.38473l -35.1161,-12.31341 -110.3646,-45.60523 -37.3963,62.02311 13.2255,5.47263v 31.01155l 11.4013,-5.47263 26.9071,32.37971 61.111,24.62683 59.2868,-42.41286z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1141.0428,1320.9554 -35.3441,30.5555 -32.8357,-13.4535 -1.3682,2.9643 -8.893,-2.9643 -0.6841,-38.7645 -28.5033,-19.6102 78.6691,-53.1301 32.1516,-15.5058 37.8524,46.7454 -42.6409,29.4153 1.1401,35.5721z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1276.5278,1156.7273 -70.1389,60.1421 -36.7625,-21.7672 -9.3518,7.7394 -26.1207,-16.1238 5.1596,-3.8698 -2.9023,-38.6973 28.0556,-19.9936 85.7791,-58.046 43.5344,55.4662 -18.22,11.4479z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1327.7962,969.33909 76.8448,31.23961 -1.5962,65.4435 -88.2461,64.0753 -36.9402,-28.9593 -27.8192,-36.4842 -1.3682,-43.0969z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1675.2714,943.24713 -2.9023,57.72347 -60.6258,49.3391 -124.4764,-57.72349 48.0492,-37.08493 0.3225,-6.12708v -5.15964l -9.9968,-5.15964 37.0849,-60.6258 58.046,22.89591 28.7005,-16.12388 37.0849,50.62899z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1823.525,824.5425 1.8242,38.08036 11.8574,8.665 -73.8805,62.70718 -130.431,-56.7785 70.4601,-47.42944v -4.56052l -4.7885,-2.28026 33.0638,-42.18484 18.6981,7.52486 0.228,-4.56052 5.4727,1.59618 -0.9121,3.4204 18.9261,8.43696 -0.228,-6.61275 15.9618,4.10447 -1.1401,7.06881 41.7288,16.41788 -0.6841,3.64842z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1973.5632,754.27523 -17.0913,12.57662 1.4512,21.12229 -44.0182,29.5067 0.6449,12.57663 -21.2835,16.44636 -33.8602,-14.51149 -11.6092,6.12707 -18.5424,-9.83556 -0.1613,-11.6092 -26.1207,-11.28672 -0.882,-32.60736 -10.9452,0.45605 25.5389,-20.75038 23.0306,-45.3772 35.8001,16.18986 48.7976,-30.55551z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1985.4949,597.22861 78.3621,33.53767 0.6449,62.88315 -26.4431,18.05874v 10.64177l -55.4662,36.43997 -57.0785,-66.10792 -22.294,13.51495 -13.2255,-9.00704 -1.5962,-17.67202 15.5058,-10.83124 -0.7981,-17.32999z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1142.8608,1378.592 -1.9349,-91.5837 79.9745,-54.1762 121.2516,52.8863 1.9348,10.6418 -18.7037,13.8665 33.8602,16.1239v 17.7362l 0.645,21.2836 11.6091,4.1922 -2.2573,7.0945 -70.6226,57.0785 -32.8927,-14.8339 -9.9968,13.2215z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1238.4099,1221.764 83.4576,39.9046 55.4103,-44.4651 -0.228,-41.0447 6.3848,-2.9643v -2.7364l -15.5058,-6.3847 0.456,-11.4013 -28.2752,-37.8523 -63.3913,43.3249 -21.6625,17.7861 4.5606,0.228 -0.2281,30.5555z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1380.9263,1084.0362 1.5961,25.767 -17.1019,10.7172 0.456,28.2753 2.5083,0.9121 0.9121,12.7694 33.0638,15.2778v -7.2969l 16.874,-8.2089 19.1542,13.9096 71.1441,-41.2727 -1.5962,-45.1492 4.1045,-3.6484 -43.781,-50.3938 -33.7479,12.0854z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1528.2216,1250.8908 -85.1341,63.2056 -80.2969,-34.5051 2.2573,-6.772v -40.9547l -7.7395,4.5147 -0.9674,-3.8697 49.6616,-39.0198 -2.5799,-22.8959 16.4464,-7.7395 15.4789,10.9642v 5.4822l 54.4987,-32.8928 51.274,59.3359 -14.5115,11.6092z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1638.8238,1185.5079 -60.4269,45.8332 -32.1517,-13.4535 -4.7885,6.3847 -12.3134,-5.9287 13.4535,-12.3134 -31.0116,-37.3963 13.6816,-15.5057 -0.6841,-9.3491 -2.0522,-2.9644 17.558,-20.7503 24.3988,11.6293 40.5887,-25.3109 42.6408,53.1301 -8.665,6.8408z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1624.6424,1064.4987 122.219,54.4987 57.0786,-42.2445 0.9674,-18.7037 33.2152,-21.9285v -22.251l -23.8633,-8.3844 0.6449,-21.92847 -22.2509,-8.38441 -0.3679,-15.06838 -9.5771,-5.70066 -6.9548,2.96434 -0.114,16.98795 -66.1276,-28.73129 -37.3963,54.04219 6.1567,3.42043 -2.0522,23.4867z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2000.0064,937.44253 -98.0332,69.01017 -116.4144,-53.85372 56.1111,-42.88953 -1.2899,-17.73627 29.6679,-43.85696 36.7624,14.83397 29.668,-18.05875 33.5377,44.50192 -9.0294,5.8046 37.0849,16.12388z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2082.1066,844.38077 -82.7735,65.21548 -28.7313,-13.45355 -0.228,-9.34907 -33.5198,-43.78101 -19.8383,11.62933 -0.456,-34.20392 -1.1402,-2.96434 43.553,-29.41537 -1.8242,-20.75038 17.786,-13.22552 13.2256,8.89302 2.5082,4.3325 55.8664,-29.87142 49.2537,62.93521 -14.3657,10.03315z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2078.4582,663.32802 -30.3275,68.17982 1.5962,9.34907 46.5173,58.37469 -0.228,2.73631 -12.7694,7.98092 -0.4561,4.78855 26.223,11.4013 77.9849,-58.37469 -13.6815,-9.5771v -18.69814l -14.8217,-7.98091v -13.68157l 6.3847,-5.2446 -31.0115,-49.25365 -19.8383,13.9096z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1402.3607,1509.533 -105.3481,70.6881 -115.8372,-55.1823 52.902,-38.3084v -24.1708l 33.2918,-42.8689 35.1161,15.9618 28.7313,-18.6981 33.2918,46.0613 -4.5605,2.7363 0.456,14.5937 13.2255,5.0165 -0.456,-5.0165 9.121,-0.4561 10.4892,5.4726 0.4561,20.0663z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1501.5521,1435.8806 -95.543,70.46 -11.8573,-5.9286 -0.6841,-15.2778 -10.7172,-6.8408 -11.1733,1.5962 0.456,3.8765 -10.2611,-4.3325 0.228,-13.4536 4.5605,-3.1924 -34.888,-47.2014 -28.0472,18.0141 29.4154,-26.223 69.776,-45.8333 27.3631,36.2562z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1544.6679,1234.4444 -28.0555,49.6616 0.3225,2.2573 8.7069,-2.2573 -0.645,9.0294 -52.5638,37.4074 102.5478,47.7267 88.3589,-69.0102 0.3225,-17.0914 -27.7331,-8.3844 0.3225,-13.2216 -29.023,-39.3422 -26.4432,16.7688z">
    </a>
    <a class="layer-map__link" data-link-id="3">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1684.9457,1170.5939 -74.1698,49.3391 -2.2574,10.9642 28.7005,38.6973v 13.5441l 37.4074,11.9316 34.1827,-22.2509 -3.2248,-8.7069 13.5441,-11.9317 -0.3225,-36.1175 -13.5441,-5.4821 0.3225,-9.9968z">
    </a>
    <a class="layer-map__link" data-link-id="3">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1950.5355,1166.5817 2.2803,103.9799 -16.8739,-5.9287 -20.9784,40.1326 -52.9021,41.5008 -50.1657,-16.4179 -19.1542,-10.4892 -41.5008,-55.1823 -26.9071,18.2421 -5.9287,5.0165 -10.9452,-23.7147 12.7695,-10.9452 0.456,-55.1823 116.2933,-80.2652z">
    </a>
    <a class="layer-map__link" data-link-id="3">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1999.6839,1108.0332 -63.2056,50.3065 -101.258,-42.2446 -23.2184,19.6712 -8.7069,-3.5473 2.9023,-73.5249 64.1731,-42.8895 104.1603,45.4693 5.4821,7.417z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2307.9725,845.21392 2.5799,79.3295 -66.108,46.11431 -44.5019,-16.44636 -7.7394,10.96424 -89.0039,-40.30971 22.896,-21.606 -2.2574,-35.79502 13.2216,-21.92848 65.7854,-44.82439z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2113.8023,952.23713 32.1516,39.44852 -6.6127,6.38474v 9.80511l 14.8095,5.3493 -28.0555,23.5408 -17.4138,11.9317v 29.668l -12.8991,12.2541 -105.7727,-47.7267 44.1794,-35.795 0.645,-8.70689z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2429.2241,815.54598 -0.6449,30.3129 -80.6194,59.65836 -39.0198,-17.73627 0.6449,-43.53448 -65.7854,-27.08812 28.0555,-25.79822 -0.6449,-9.35185 17.4138,-28.70051 39.0198,14.18902 52.2414,-30.3129 56.756,71.26756z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1501.7801,1561.523 -72.5123,59.2868 -34.66,-15.5058 -2.7363,4.5605 -32.3797,-17.33v -41.5007l -7.2968,0.456 75.736,-58.4183 42.4058,-20.1548 42.1605,52.3501 -10.2611,8.437z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1609.8645,1359.0358 -0.9121,41.5007 32.3797,13.6816 1.8242,9.121 25.5389,14.5937 11.8574,-10.4892 46.5173,27.3631 39.6766,-30.0994 -1.3682,-16.874 41.0447,-69.3199 -57.4626,-72.9684 -75.2486,49.7097z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1954.8595,1144.4732 78.0396,-55.4662 72.88,33.5377 0.6449,7.7395 1.2899,16.4463 9.3519,3.5473 -0.645,38.6973 -76.7497,62.5607 -17.0913,-9.3519 -3.8697,-5.8046 -7.0945,4.1922 -57.401,-23.5408z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2181.8838,1001.6156 -72.235,48.0492 0.6449,69.6551 71.5901,31.6028 99.3231,-75.1373 -19.0262,-9.3518v -9.0294l -10.9642,-4.5147 0.9674,-24.1858z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2362.1488,898.10026 57.7235,70.94508 -13.2216,11.28672v 27.41064l -17.0913,14.189 9.3518,15.4789 -33.5376,24.8308 -19.0262,-26.4432 -46.4368,30.6354 -47.0817,-18.3812 0.3224,-20.9611 -26.4431,-11.2867v -28.37803l -10.9643,0.64495z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2507.5862,878.42912 23.2184,40.95466 -72.5575,53.85377 -54.1762,-20.96105 -22.8959,-29.66794 0.6449,-17.09132 14.5115,-8.70689 0.3225,-16.44636 -4.5147,-4.83717 49.0166,-33.2152 31.6028,-8.06194z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1693.6526,1799.1028 18.0588,9.9968 2.5798,17.7363 -59.0134,42.2446 -68.3653,-33.8602 29.023,-22.5734 -1.2899,-13.2216 20.3161,-24.8308 20.961,9.0294 18.7037,-11.6092z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1693.6526,1799.1028 18.0588,9.9968 2.5798,17.7363 -59.0134,42.2446 -68.3653,-33.8602 29.023,-22.5734 -1.2899,-13.2216 20.3161,-24.8308 20.961,9.0294 18.7037,-11.6092z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1860.696,1709.7765 -89.9712,68.6877 -118.0268,-51.9189 21.9284,-20.961 -1.2899,-16.1239 11.6092,-10.3193 -2.5798,-23.5408 23.2184,-56.4336 37.4074,18.0587 15.8014,-11.2867 8.3844,14.834 34.1827,-23.2184 33.2152,56.756v 31.2804z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1971.3059,1634.6392 -92.5511,69.9777 -41.9221,-20.6386v -29.3455l -23.5409,-39.9872 -1.6124,-28.378 29.023,-40.3097 38.3749,16.4463 28.0555,-19.9936 32.8927,44.1794 -6.4495,4.5147 21.2835,9.9968 13.5441,7.7395z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2219.1503,1441.1252 -77.9849,58.8307 -37.8523,-17.786 -3.1924,3.1923 -25.0829,-11.8573 1.3682,-3.1924 -11.8574,-7.7529 0.9121,-39.6765 -9.121,-0.9121 81.6333,-63.3913 47.8855,-19.1542 44.2371,58.3747 -13.2255,9.121z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1981.5471,1465.2959 -73.8805,52.446 -127.6946,-56.0944 3.6484,-7.7529 -2.2802,-39.6765 -11.8574,-5.4726 41.0447,-79.3531 75.7047,27.8191 -0.4561,-8.6649 18.6982,-13.2256 18.6981,11.8574 0.084,3.8417 -3.2248,0.8062 0.2419,23.0572 69.2542,27.0212 1.8242,0.684 -2.7363,5.7007 -4.3325,2.5083 -5.0166,0.228z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1979.7229,1422.427 46.9734,22.8026 93.0346,-74.7925 -42.8689,-19.3823 0.9121,-19.1542 -2.2802,-19.6102 -17.33,-9.5771 3.6484,-6.6128 -43.781,-60.1989 -40.8167,28.2753 -5.7006,-3.4204 -6.6128,2.7363 1.3681,9.8051 -4.3324,2.7363 -25.0829,-10.9452 -20.9784,40.8167 -9.8051,8.4369v 20.2944l 18.242,12.9974 -0.456,27.1352 68.6359,26.679 -2.7364,8.893 -10.0331,1.8242z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2280.2613,1242.2864 -98.0512,76.6168 -133.1673,-60.1989 62.0231,-41.0447 -0.456,-20.9785 33.2918,-47.8854 39.6766,16.4178 29.6434,-19.1542 36.4841,45.1492 14.5937,20.9784 15.9618,5.9287z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2377.8565,1147.4275 -75.2486,57.0065 -47.4294,-20.5223 -9.5771,-0.4561 -5.9287,-5.9286 -13.6816,-17.7861 -2.2802,-41.5007 121.5379,-81.4054 45.8332,60.655 -12.7694,10.9452z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2563.4698,877.44456 -25.0829,41.95681 -0.9121,13.22552v 13.22551l -36.9402,20.97841 -0.9121,15.50577 48.3415,17.32999 62.9352,-45.14918 34.2039,14.13762 11.4014,-12.31341 1.8242,-40.58865 -29.6434,-41.0447 -28.7313,16.87393z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2607.7069,1230.429 -73.8805,67.4958 -121.766,-52.4461 74.3366,-63.3912 65.6715,-31.4676 35.5721,41.5007v 15.9619l 18.6981,2.2802z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2817.1648,959.04853 24.1858,31.92529 -6.1271,5.8046 35.1501,15.47888 -33.5377,67.0754 -15.4789,16.7688 -12.2542,-4.8371 -21.606,23.2184 -18.7037,-9.3519v -89.6488l -82.5543,-32.8927 20.6386,-31.28033 73.8474,31.28033z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2928.742,968.72286 -1.2899,31.28034 -26.7656,21.606 -21.9285,-7.7395 -36.1175,-15.15642v -9.02937l -14.189,-18.05875 -5.8046,-6.12707 21.9285,-16.44636 -0.645,-13.54407 9.9968,-6.44955 10.3193,4.51469 39.3423,-16.76884 35.795,43.53448z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2786.4794,1274.21 0.9121,48.7976 -66.1276,49.2537 -122.222,-50.6218 -0.4561,-47.4295 -14.1376,-4.5605 42.8689,-72.0562 171.0196,69.7759 -1.8242,5.0166z">
    </a>
    <a class="layer-map__link" data-link-id="4">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2967.5321,1234.5335 -128.1507,-57.9187 1.8242,-77.0728 -10.4892,-5.9287 42.4129,-82.5454 67.0397,25.0829 24.6268,-20.0663 60.6549,-27.36319 59.2868,87.10599 3.6485,64.3034z">
    </a>
    <a class="layer-map__link" data-link-id="3">
      <path class="layer-map__path" fill="#f9f9f9" d="m 3091.1223,1369.0689 -33.0638,-16.4179 -18.6982,12.7695 -34.2039,-17.7861 9.3491,-6.8407 -28.0472,-13.9096 2.7363,-43.553 -12.3134,5.2446 -5.7007,-7.0688 45.6052,-26.4511 0.2281,-11.6293 -6.6128,-2.7363 -2.2802,-1.1401 22.1185,-33.7479 37.6243,14.8217 60.883,-32.6077 59.2868,76.8448 -12.3134,9.8051 -0.9121,33.7479z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 3307.3308,1086.1047 -0.645,100.6131 -53.5313,36.1175 13.5441,10.3192 -58.6909,49.6616 -19.9936,-9.0294 0.6449,-14.834 -60.6258,-73.5249 -40.6322,25.7983 0.645,-26.7657 -8.3844,-6.4495 13.8665,-11.6092 1.2899,-41.2772 0.645,-11.2867 101.5804,-70.3001z">
    </a>
    <a class="layer-map__link" data-link-id="1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 3433.0971,1342.7969 -0.645,21.606 25.7982,13.2216 -93.5185,74.4924 -87.069,-36.1175v -5.1597l 35.7951,-27.0881 6.4495,-9.9968 3.8697,0.6449 0.3225,-11.6091 -3.8697,-1.9349 26.4432,-44.5019 30.9578,2.2573 31.9253,13.2216v -5.1596l 10.6418,1.2899v 8.3844z">
    </a>
  </svg>
  img(src="/img/dom/map/map.jpg" class="main-img" alt="")
  a.small-card(href="#")
    .small-card__content
      img(src="/img/dom/map/map-previeыw.jpg" alt="")
    .small-card__info 
      .small-card__titles 
        .text-lBold._title Courchevel
        .text-lBold._size 256 m²
      .small-card__description 
        .title 
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <rect width="24" height="24" rx="12" fill="#49CF61"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3778 17V13.8569H12.4461C15.8322 13.8569 17 12.1257 17 10.4429C17 8.79884 16.0948 7 12.4461 7H8V17H10.3778ZM12.507 9.06964C14.0078 9.06964 14.5284 9.64019 14.5284 10.4284C14.5284 11.2698 13.8999 11.7872 12.4132 11.7872H10.3731V9.07446H12.507V9.06964Z" fill="white"/>
          </svg>
          .caps-m RUSS-HOUSE
        .star 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
          </svg>
          .text-s 5.0
        .review
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
          </svg>
          p.text-s 68
          span.text-s reviews