
.layer-map(data-layer-link="/api/house-popup.json" data-map-id="map1")

  <svg class="main-svg" viewBox="0 0 2400 1279" preserveAspectRatio="xMidYMid meet">
    <a class="layer-map__link" data-link-id="35">
      <path class="layer-map__path" fill="#f9f9f9" d="m 759.13558,159.49202 24.77546,32.5178 11.03283,14.51687 -38.32454,20.32362 -17.42025,-6.9681 -17.42024,10.45215 -6.77454,4.45184 -55.93835,-25.35614 35.03405,-23.80767 8.12945,-12.58129 0.58067,-12.77484 5.61319,-1.16135 24.77546,11.41994z">
    </a>
    <a class="layer-map__link" data-link-id="33">
      <path class="layer-map__path" fill="#f9f9f9" d="m 539.44693,240.59295 -20.32362,35.80828 0.9678,3.48405 7.16165,2.90337v 6.58098l 23.80767,10.06503 9.87147,22.45276 24.96902,10.25859 39.48589,-25.16257 -2.12914,-27.29172 2.70982,-0.19356 2.70981,-3.67761 -34.06626,-14.12975 -0.58067,-9.09724 2.90337,-1.35491 -0.77423,-5.03251 -10.45215,-3.87117 -8.90368,6.9681 0.19356,5.03251z">
    </a>
    <a class="layer-map__link" data-link-id="54">
      <path class="layer-map__path" fill="#f9f9f9" d="m 649.84154,522.00835 -55.56774,38.32259 1.91613,50.09309 53.65161,23.26728 50.36683,-36.40645 8.75945,-32.30047 -9.85438,-22.44608 -49.2719,-22.71982z">
    </a>
    <a class="layer-map__link" data-link-id="6">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1633.637,597.28486 -55.0202,36.95392v 10.67557l -9.8544,11.77051v 14.23411l -11.2231,31.75299 -0.2737,12.04425 27.647,7.66451 12.318,-4.10599 14.2341,15.8765 14.7816,5.20092 50.093,6.56959 54.7466,-42.42858 -0.5475,-69.52812z">
    </a>
    <a class="layer-map__link" data-link-id="52">
      <path class="layer-map__path" fill="#f9f9f9" d="m 384.79387,409.76288 50.13159,21.67853 56.51902,-38.71165 -0.77423,-23.61412 8.12944,-4.83895 -30.00153,-38.13098 -36.58252,21.29141v -6.19387l -13.35552,-6.77454 -9.87147,8.12945 2.3227,15.2911 -36.38896,22.83988 1.16135,1.54847 10.06503,-2.3227 2.12914,28.64662z">
    </a>
    <a class="layer-map__link" data-link-id="32">
      <path class="layer-map__path" fill="#f9f9f9" d="m 496.86411,277.94969 -36.38896,23.227 1.93559,25.93681 6.77454,-3.87117 29.03374,36.96963 24.19478,10.25859 42.96994,-28.45306 -0.38711,-6.58099 -7.16166,-18.00092 -7.54877,-17.42024z">
    </a>
    <a class="layer-map__link" data-link-id="52/1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 401.01848,463.15581 -14.78157,24.90968 -22.17235,14.78157 -22.99356,23.81475 85.67835,38.32258 35.85899,-24.90968 -0.82119,-13.13917 23.26728,-12.86544 -16.6977,-6.84332 -0.54746,-18.61382 -12.59171,-6.02212 -15.60277,-25.18342 -13.4129,13.68664z">
    </a>
    <a class="layer-map__link" data-link-id="51">
      <path class="layer-map__path" fill="#f9f9f9" d="m 509.69038,370.63414 -15.60277,41.33365 -4.92719,3.01106 -2.46359,9.30691 -1.09493,27.09954 8.48571,9.03318 36.13272,13.68664 17.24517,-10.94931 5.20092,-31.753 20.25622,-12.31797 -26.27834,-45.16591 -10.40185,-6.02212v 12.31798z">
    </a>
    <a class="layer-map__link" data-link-id="38">
      <path class="layer-map__path" fill="#f9f9f9" d="m 613.70882,322.73091 -28.74194,43.52351 1.91613,20.52995 35.03779,13.68664 25.45715,-0.54746 17.79263,-6.02213 11.22304,-9.85437 7.11705,-13.68664 -1.09493,-17.24516z">
    </a>
    <a class="layer-map__link" data-link-id="37">
      <path class="layer-map__path" fill="#f9f9f9" d="m 738.80469,223.91339 -40.51245,23.81475 -0.27373,49.54562 59.67374,24.36222 23.26728,-40.23871 13.96037,6.56958 6.84332,-5.74839 -2.18986,-35.58525z">
    </a>
    <a class="layer-map__link" data-link-id="36">
      <path class="layer-map__path" fill="#f9f9f9" d="m 811.6176,185.1802 -18.3401,31.88987 2.4636,2.053 -0.8212,24.49908 6.56959,3.01106 -0.8212,24.63594 33.66913,13.68664 61.31613,-42.42858 -10.12811,-16.42396 -13.4129,-4.92719v -20.25622l -7.93825,-0.8212 0.27373,-7.66452 -24.36222,-10.67558 -3.55852,5.47466z">
    </a>
    <a class="layer-map__link" data-link-id="52/2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 519.54476,496.55121 18.34009,24.36221 -6.29585,4.65346 0.8212,13.68663 2.46359,1.91613 -36.13272,24.36222 -14.23411,-5.74839h -4.37972l -10.67558,-4.92719 -3.01106,-5.20092 0.27374,-20.25623 27.647,-21.35115z">
    </a>
    <a class="layer-map__link" data-link-id="50">
      <path class="layer-map__path" fill="#f9f9f9" d="m 605.49684,398.82861 -52.28296,33.66913 0.54747,23.54102 -5.74839,7.11705 0.54747,25.18341 56.11521,22.71982 24.36222,-16.97143 26.00461,-27.92074 -1.09493,-47.35577z">
    </a>
    <a class="layer-map__link" data-link-id="31">
      <path class="layer-map__path" fill="#f9f9f9" d="m 685.97427,372.824 1.36866,32.84793 -14.2341,0.54747 -6.84332,16.6977 75.82397,31.75299 61.8636,-43.79723 -19.16129,-8.48572 1.6424,-22.99355 -11.77051,-7.66452 -26.55208,-30.38433 -5.20092,3.28479 0.54746,-7.39078 -6.29585,-3.01106 -4.92719,4.92718v 9.58065l -16.42396,4.92719z">
    </a>
    <a class="layer-map__link" data-link-id="29">
      <path class="layer-map__path" fill="#f9f9f9" d="m 931.51254,223.91339 37.22766,48.99816 -12.59171,9.03318 1.6424,25.73088 -9.85438,11.49677 -32.84793,25.45715 -30.11061,-15.32903v -6.02212l -42.42857,-16.97143 1.09493,-28.46821z">
    </a>
    <a class="layer-map__link" data-link-id="53">
      <path class="layer-map__path" fill="#f9f9f9" d="m 577.02863,522.82955 17.24517,20.52996v 9.03318l 5.74838,1.91613 -7.93825,5.74838 0.8212,19.98249 -26.82581,19.1613 -64.60093,-27.92074 48.4507,-35.31153z">
    </a>
    <a class="layer-map__link" data-link-id="48">
      <path class="layer-map__path" fill="#f9f9f9" d="m 782.60193,486.14936 16.15023,19.70876 7.11705,18.88756 -52.28295,34.21659 -62.6848,-27.92074 44.89217,-31.47926 1.09493,-13.68664 25.73088,11.49677z">
    </a>
    <a class="layer-map__link" data-link-id="27">
      <path class="layer-map__path" fill="#f9f9f9" d="m 845.01299,407.58806 -16.42396,23.95162 -32.30047,27.92074 64.7378,29.15254 50.22996,-37.50139 -14.6447,-5.47466 -0.27374,-19.16129 -19.98249,-7.11705 -0.13686,-4.24286 -7.39079,-2.18986 -2.46359,2.18986 -7.39079,-2.46359 -0.13686,-4.51659 -3.83226,-0.8212 -3.01106,2.32673z">
    </a>
    <a class="layer-map__link" data-link-id="26">
      <path class="layer-map__path" fill="#f9f9f9" d="m 871.8388,382.13092 3.01106,27.37327 20.25623,13.68664 14.78156,6.84332 9.85438,-1.91613 8.48572,4.37972 5.74839,-3.28479 10.67557,3.83226 34.49033,-19.43503 7.39078,-17.79263 6.56959,-22.17235 -34.49033,-42.97604 -42.15484,24.08848z">
    </a>
    <a class="layer-map__link" data-link-id="25">
      <path class="layer-map__path" fill="#f9f9f9" d="M 996.66094,284.95579 954.50609,313.424v 17.51889l 5.74839,-3.28479 34.21659,46.8083v 10.67558l 29.56313,12.04424 17.5189,-12.59171 -2.4636,-9.03318 24.0885,-42.15484 2.1899,-4.10599 -0.5475,-19.70876z">
    </a>
    <a class="layer-map__link" data-link-id="69">
      <path class="layer-map__path" fill="#f9f9f9" d="m 676.66735,647.65168 -10.67557,20.25623 3.28479,16.97143 35.31152,13.96037 22.99355,-15.05531 -1.36866,-17.24516 -11.77051,-5.20092z">
    </a>
    <a class="layer-map__link" data-link-id="55">
      <path class="layer-map__path" fill="#f9f9f9" d="m 714.44247,578.12356 22.44609,2.73733 39.96498,17.5189 16.6977,31.20553 -13.41291,9.85438 0.8212,15.0553 -34.76406,24.90968 -19.70876,-9.58065v -4.65345l -52.28295,-22.44609 4.37972,-25.73088 12.59171,-8.75944 13.4129,-18.88756 0.8212,-10.40185z">
    </a>
    <a class="layer-map__link" data-link-id="47">
      <path class="layer-map__path" fill="#f9f9f9" d="m 881.69318,477.66365 -93.06913,60.76867 1.09493,30.38433 22.17235,12.31797 13.96037,6.84332 21.62489,7.11705 17.79263,9.58065 41.05991,-28.46821 4.92719,-22.99355 8.21198,-28.74193z">
    </a>
    <a class="layer-map__link" data-link-id="23">
      <path class="layer-map__path" fill="#f9f9f9" d="m 934.79734,431.95028 -21.07743,33.66912v 31.753l -9.03318,7.39079 12.31798,15.60276 42.15484,17.5189 58.57885,-41.88111 -6.2959,-22.44609 -13.68663,-5.47465 0.54746,-16.6977 -13.13917,-4.65345 0.8212,-7.11706 -9.03318,-1.09493 -1.36867,4.37973z">
    </a>
    <a class="layer-map__link" data-link-id="22">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1051.6812,398.55488 21.8986,22.44609 26.8258,23.26728 -59.9474,41.88111 -39.6913,-18.06636 0.8212,-7.93825 -1.64237,-33.12166 22.71977,-14.23411 0.2738,-2.46359 4.3797,-4.65346 4.106,3.01106z">
    </a>
    <a class="layer-map__link" data-link-id="21">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1152.6886,374.74013 -4.3797,35.85899 -38.5963,22.17235 -40.5125,-17.51889 -17.2451,-19.43503 -6.0222,4.106 -6.0221,-24.63595 21.0774,-37.77512z">
    </a>
    <a class="layer-map__link" data-link-id="68">
      <path class="layer-map__path" fill="#f9f9f9" d="m 780.13833,668.18164 28.19448,34.49032 -8.75945,4.37973 0.54746,3.83226 -3.83226,1.64239 -14.50783,28.19448 -27.64701,20.80369 -46.26083,-20.25623v -27.09954l -3.83226,0.27373 47.35576,-35.58525z">
    </a>
    <a class="layer-map__link" data-link-id="56">
      <path class="layer-map__path" fill="#f9f9f9" d="m 831.32636,605.22311 45.9871,20.52995 3.28479,40.78618 -59.94747,40.78618 -11.49678,-5.47465 -30.38433,-39.69125 4.10599,-24.90968z">
    </a>
    <a class="layer-map__link" data-link-id="46">
      <path class="layer-map__path" fill="#f9f9f9" d="m 976.13098,549.38163 -21.35115,39.96498 -13.96037,29.83687 -0.8212,5.20092 69.80184,30.9318 38.8701,-33.66913 4.6534,-36.68019 -22.1723,-30.9318 -13.9604,7.66452 -4.6535,-3.01106 -4.6534,4.65346z">
    </a>
    <a class="layer-map__link" data-link-id="19/1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1034.5729,511.19591 -16.0133,32.43733 4.9271,2.87419 -0.5474,11.49678 8.6226,-4.24286 21.6248,29.7 20.3931,7.80139 31.753,-16.6977 -1.5055,-29.83687 7.8014,-1.50553 -19.7088,-9.17005z">
    </a>
    <a class="layer-map__link" data-link-id="19">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1086.1715,481.4959 -18.34,32.02674 7.3907,3.28479 -0.2737,9.03318 38.0489,17.24516 0.2737,10.12811 13.6866,6.29586 30.1106,-24.63595v -21.07742l 5.4747,1.64239 -1.6424,-4.10599 -29.0157,-12.31797 -0.8212,-11.77051 -6.8433,-2.73733 -9.0332,5.47466 0.2737,3.28479z">
    </a>
    <a class="layer-map__link"  data-link-id="18">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1150.4987,440.43599 -9.8543,19.70876 -0.2738,39.41752 22.7198,13.13917 2.4636,8.21198 16.9715,6.84332 8.4857,-6.02212 -0.5475,-7.66452 30.9318,-22.71982 0.2738,-14.2341 10.4018,-8.48572 -29.8369,-36.13272 -27.3732,18.61383z">
    </a>
    <a class="layer-map__link"  data-link-id="17">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1238.367,373.91893 -48.9982,32.84793 -0.2737,33.3954 15.0553,-9.85438 35.5852,44.89217 48.177,-35.85899 3.5585,-12.31797 -1.3687,-34.49033z">
    </a>
    <a class="layer-map__link" data-link-id="72">
      <path class="layer-map__path" fill="#f9f9f9" d="m 761.65184,770.94264 -47.61534,33.67914 -0.19355,58.4546 72.19724,31.35644 4.45184,-8.323 15.2911,5.80675 27.48528,-20.71074 1.3549,-10.06503 15.67823,-9.67792 -2.12915,-23.03343 -10.06503,-25.74325z">
    </a>
    <a class="layer-map__link" data-link-id="57">
      <path class="layer-map__path" fill="#f9f9f9" d="m 917.55217,649.02035 26.82581,29.01567 8.21198,30.9318 -17.24516,9.03318 -5.74839,-3.01106 -30.9318,16.15023 -15.8765,-4.65346 -5.74838,7.93825 -22.44609,-15.0553v -20.80369l 9.58065,-21.35115 26.00461,-18.88756z">
    </a>
    <a class="layer-map__link"  data-link-id="66">
      <path class="layer-map__path" fill="#f9f9f9" d="m 885.79917,728.40284 -8.48571,5.20093 1.64239,14.2341 -30.65806,21.89862 1.64239,3.55852 4.37973,-1.91613 -0.54747,28.74194 49.54563,23.26729 59.94747,-50.91429 -1.36866,-19.43503 -29.83687,-35.85899 -29.01567,13.4129 -5.47466,3.55853z">
    </a>
    <a class="layer-map__link" data-link-id="58">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1002.1356,691.44892 26.8258,33.94286 -0.2737,14.78157 -11.2231,-0.54746 -30.38431,28.4682 -23.81475,-5.20092v -10.67558l -21.62489,-27.37327 11.77051,-10.67558 7.11705,-15.60277 18.88756,7.11705z">
    </a>
    <a class="layer-map__link" data-link-id="45">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1066.7365,591.26274 -20.2562,32.84793 -3.0111,24.08848 -27.9207,18.06636 78.0138,34.21659 32.5742,-26.00461 0.5475,-16.15023 22.7198,-14.78157 -0.8212,-10.67558 -13.9604,-21.62488 -13.1391,-3.83226 -0.8212,-6.84332 -4.9272,-4.10599 -6.0221,3.83226 -17.2452,-7.93825z">
    </a>
    <a class="layer-map__link" data-link-id="16">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1166.9227,532.68393 -19.7088,32.02673 -24.6359,32.5742 69.2544,32.57419 61.3161,-43.24977 -0.2737,-18.06636 -19.9825,-1.36867 -2.1899,-12.04424 -19.435,-26.00461 -18.6138,10.94931z">
    </a>
    <a class="layer-map__link" data-link-id="15">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1232.6186,472.46272 -9.5807,6.02212 0.2738,13.96037 -31.4793,23.81475 3.011,1.36867 4.6535,-2.18987 -1.0949,19.70876 13.1391,-9.58064 25.4572,36.95392 12.8654,5.47465 55.8415,-44.3447 3.8323,-23.26729 -32.0268,-37.77512 -32.8479,19.9825 0.2737,-6.02213z">
    </a>
    <a class="layer-map__link" data-link-id="14">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1299.4094,413.33645 -19.7088,41.88111v 7.11705l 32.0267,37.22766v 11.49677l 10.1281,3.01106 39.965,-32.02673v -19.98249l -9.8544,-16.6977 -16.1502,-29.83687 -11.7705,-3.55852 -0.2737,10.94931z">
    </a>
    <a class="layer-map__link" data-link-id="78">
      <path class="layer-map__path" fill="#f9f9f9" d="m 791.26626,890.17454 -20.71074,30.58221 -32.90491,33.29202 72.97148,34.25982 61.93865,-44.71196 -4.6454,-17.42025 -16.06534,0.38712 -1.16135,-13.74264 -18.58159,-25.16258 -18.00092,7.35522z">
    </a>
    <a class="layer-map__link" data-link-id="73">
      <path class="layer-map__path" fill="#f9f9f9" d="m 876.81902,852.04356 -38.32454,7.74233 -15.48466,28.25951 10.06503,-1.93558 19.74294,26.71104v 11.41994l 15.29111,0.77423 8.12944,16.45246 53.80921,-47.03467 -0.19356,-6.58098 -35.42117,-14.32331z">
    </a>
    <a class="layer-map__link" data-link-id="65">
      <path class="layer-map__path" fill="#f9f9f9" d="m 966.24295,771.71687 -18.96872,30.96933 -30.00153,30.19509 67.55184,27.67883 56.13186,-43.35705 -0.7742,-9.48436 -15.8718,-1.54846 -1.9356,-11.6135 -18.9687,-23.80767 -14.71039,9.2908z">
    </a>
    <a class="layer-map__link" data-link-id="59">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1054.4185,732.6457 12.7286,20.94056 9.7175,7.80138v 22.99355l -27.647,24.63595 -24.4991,-6.56959 -1.0949,-9.85438 -20.6668,-24.22535 14.371,-26.68894 2.8742,-2.32673 2.8741,3.55853z">
    </a>
    <a class="layer-map__link" data-link-id="60">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1149.4038,699.38717 -72.2654,50.91429 -0.8212,34.2166 -8.7595,8.75944 0.5475,4.106 9.3069,3.55852 16.9714,-11.22304c 0,0 35.859,44.61844 36.9539,44.89217 1.095,0.27373 30.6581,5.20092 30.6581,5.20092l 36.4065,-27.92074 11.223,-24.63595 12.0443,5.74839 -1.6424,-64.32719z">
    </a>
    <a class="layer-map__link" data-link-id="44">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1169.6727,635.25828 -42.0021,28.45307 0.7742,49.93804 20.9043,-16.06534 61.7451,26.51748 36.1954,-31.35644 -4.2583,-9.09724 -10.065,-21.48497z">
    </a>
    <a class="layer-map__link" data-link-id="12">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1376.0058,500.34816 -41.615,28.25951 0.1936,6.77454 -7.1617,9.87147 -0.3871,9.67792 -7.1617,20.32362 0.1936,7.16165 47.4218,18.96871 34.4533,3.09694 41.8086,-28.45307 -1.1613,-48.38957z">
    </a>
    <a class="layer-map__link" data-link-id="1/2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2002.3551,920.01577 -18.3401,14.2341 73.3603,31.47927 42.1549,-32.84793 -21.0774,-10.12812 -0.8212,-19.16129 -9.8544,-4.65346 2.7373,-3.55852 -18.6138,-25.73088 -4.106,0.8212 -15.6028,10.67558 -3.5585,-1.6424 -2.4636,4.10599 -0.5475,3.28479 -16.1502,-4.37972 -8.212,22.44609 3.0111,0.82119z">
    </a>
    <a class="layer-map__link" data-link-id="13">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1318.9061,597.70798c 1.1614,0.19355 21.485,22.83987 21.485,22.83987l 3.0969,16.06534 -12.0006,11.03282 -13.5491,7.93589v 19.93651l -8.5165,6.0003 -72.3908,-32.51779 30.9693,-22.83988 30.0015,-21.67852 22.4528,-6.77454z">
    </a>
    <a class="layer-map__link" data-link-id="77">
      <path class="layer-map__path" fill="#f9f9f9" d="m 919.20828,922.30522 -25.54969,9.09724 -48.77669,36.96963 2.70982,25.74325 21.29141,12.58126 27.09816,7.7424 45.09908,-37.16323 5.41963,-24.77546z">
    </a>
    <a class="layer-map__link" data-link-id="81">
      <path class="layer-map__path" fill="#f9f9f9" d="m 960.4362,1133.8644 27.48527,-20.5172v -20.5171l 4.25829,-2.3227 -68.13252,-29.0338 -18.58159,30.1951 7.74233,3.4841 0.38711,13.549 -0.38711,2.3227 0.38711,1.9356z">
    </a>
    <a class="layer-map__link"  data-link-id="64">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1095.1528,792.81472 -39.4859,13.16197 -54.5835,41.42147 4.6454,27.09816 23.227,13.9362 15.0976,8.51656 39.0987,8.51657 24.3884,-15.87178 -2.7098,-12.38773 25.5497,-42.96994z">
    </a>
    <a class="layer-map__link" data-link-id="43">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1269.7423,679.77669 47.6154,21.29141 0.1935,7.35521 4.839,14.51688 4.0647,13.16196 -55.5512,45.87331 -8.5166,-10.45215 -6.7745,3.87117 -34.0663,-13.74264 0.5807,-47.61534z">
    </a>
    <a class="layer-map__link" data-link-id="9/2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1362.6416,624.65813 -44.3447,33.94286 1.0949,42.70231 44.3448,16.97143 20.2562,-16.97143 33.3954,-26.82581 -3.8323,-13.68664 -6.5696,-18.06636z">
    </a>
    <a class="layer-map__link" data-link-id="9/1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1477.0619,563.342 -35.5852,13.68663 -55.8415,38.87005 8.212,1.6424 -0.5475,18.61383 18.6138,8.21198 2.7373,14.2341 21.8987,8.21198 32.3004,-19.70875 8.212,11.49677 18.0664,-10.40184 10.9493,-22.44609 4.9272,-20.80369z">
    </a>
    <a class="layer-map__link" data-link-id="8">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1521.9541,527.20927 -26.2784,21.89862 -0.5474,14.78157 -5.4747,3.28479 0.5475,12.59171 20.2562,18.06636 29.0157,12.04424 44.8921,-38.32258 1.6424,0.54746 -20.2562,-25.73087 -22.4461,-25.73088z">
    </a>
    <a class="layer-map__link" data-link-id="80">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1018.5037,1104.4436 -13.9362,20.9043c 0,0 -26.13038,24.3883 -21.8721,24.969 4.25828,0.5806 50.5187,23.227 50.5187,23.227l 40.0666,-30.7758 -0.5807,-11.4199 -6.581,-3.097 -6.7745,-6.3874 -13.162,-17.4202 -12.9684,7.3552z">
    </a>
    <a class="layer-map__link" data-link-id="63">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1066.1891,1000.4932 -16.1503,34.7641 -1.9161,21.6248 -14.7816,23.2673 72.2655,32.0268 55.8415,-43.2498 -10.4019,-21.0774 -6.5696,-14.7816 -19.1613,-34.49033 -21.0774,14.23413 -5.2009,-10.1281 -9.5807,5.2009z">
    </a>
    <a class="layer-map__link" data-link-id="62">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1149.1301,967.0978 -17.2452,29.01567 0.8212,14.23413 23.8148,46.5345 15.0553,7.3908 61.3161,-43.5235 -4.3797,-18.8875 -13.6867,-0.8212 -4.106,-10.40188 -18.8875,-25.73088 -16.6977,10.67557z">
    </a>
    <a class="layer-map__link" data-link-id="10/2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1366.4739,838.16967 -31.2056,10.40185 -51.4617,40.51245 9.3069,1.64239 10.4018,18.06636 26.2784,14.23411 6.5696,17.51889 52.5567,-36.13272 -1.6424,-24.63595 8.2119,-5.47465z">
    </a>
    <a class="layer-map__link" data-link-id="61">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1246.5153,879.14172 -9.6779,3.48405 2.3227,31.35644 -19.3558,18.96871 -16.646,10.45215 -13.9362,5.03251 -77.4233,-34.06625 1.9356,-29.03375 -10.0651,-5.03251 27.4853,-46.84111 30.1951,5.41964 16.2589,8.12944 13.9362,-10.45214 9.6779,5.41963 0.3871,15.48466z">
    </a>
    <a class="layer-map__link" data-link-id="10/3">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1335.5421,953.68489 -53.9254,38.32259 -62.6848,-27.92074 18.0664,-14.50784 6.5696,-4.92719v -11.7705l -3.5586,-0.54747v -3.28479l 13.6867,-10.40185 11.4968,-24.90968 14.7815,7.66452 11.2231,-7.93825 12.3179,17.5189 10.1282,4.10599 13.9603,9.03318 -2.4636,3.28479 -4.106,-1.36866 0.8212,17.79263z">
    </a>
    <a class="layer-map__link" data-link-id="10/1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1201.1393,858.4259c 2.4636,0.8212 47.6295,19.43502 47.6295,19.43502l 1.6424,18.88756 8.7594,4.65346 4.6535,-9.58065 10.9493,5.47466 60.7687,-45.71337 -36.4065,-15.60277 -2.1898,-13.96037 -1.3687,-4.10599 -13.1392,-5.74839 5.2009,-3.28479 -25.4571,-36.13272 -24.3622,15.60276 -7.9383,-2.73732 -3.8322,4.65345 -0.2738,7.93825 -16.6977,-7.66451 -13.9603,30.1106 1.0949,15.8765 7.3908,3.28479z">
    </a>
    <a class="layer-map__link" data-link-id="42">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1338.0057,719.91713 -21.3512,32.84793 -31.2055,33.94286 79.9299,36.68019 64.0535,-47.08204 -4.9272,-17.51889 -14.2341,-2.18986 -7.117,-12.04425 -19.7088,-27.92074 -18.6138,11.49678z">
    </a>
    <a class="layer-map__link" data-link-id="10">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1466.1126,650.93647 29.5631,36.13273 -9.8543,4.92719 1.6424,24.63594 -47.6295,39.41752 -36.6802,-15.8765 -13.1392,-18.06636v -20.25622l -3.2848,-3.2848 43.2498,-32.30046z">
    </a>
    <a class="layer-map__link" data-link-id="9">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1640.6,546.99571 -16.646,10.06503 -23.227,-9.67792 -20.5172,37.55031 -17.4202,23.61411 29.0337,14.32331 42.5828,-27.87239 32.1307,15.09755 13.9362,-8.51657 0.3871,-18.19448 -18.5816,-1.16135v -11.22638z">
    </a>
    <a class="layer-map__link" data-link-id="7">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1594.4933,720.73833 -24.0885,6.56958 -31.753,22.44609 -32.0268,25.45714 78.0139,35.31153 56.9364,-45.43964 -9.5807,-9.30691 -15.8765,-11.22304z">
    </a>
    <a class="layer-map__link" data-link-id="75">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1018.2858,931.51254v 26.27835l 5.7484,1.91613 0.8212,6.56958 18.6138,7.66452 0.2738,13.4129 36.4064,13.68668 2.1899,0.8212 38.3226,-26.55212v -10.40184l -13.4129,-34.76406 -55.5678,-24.08848z">
    </a>
    <a class="layer-map__link" data-link-id="74">
      <path class="layer-map__path" fill="#f9f9f9" d="m 984.89043,949.85264 -24.36222,-2.18987 -1.36866,2.4636 -26.27834,-13.41291 -3.55853,-3.55852 -0.54747,-18.88756 -7.39078,-3.28479 19.70876,-35.85899 35.03779,13.4129 -0.54747,-4.65346 8.48572,-5.20092 10.40184,4.37973 -1.64239,2.46359 -1.09493,1.6424 0.27373,7.93825 33.66912,14.50783 -1.6424,3.2848 -7.3908,0.54746 1.095,25.45715 -12.5917,9.30691 -3.0111,4.37972z">
    </a>
    <a class="layer-map__link" data-link-id="5">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1760.219,600.41779 -24.3883,12.77485 -44.5184,-16.64601 -10.0651,17.03313 51.0994,20.13006 -1.1613,63.1 9.2908,0.77423 22.0656,-11.6135 7.7424,-2.3227 16.646,-33.67914 8.1294,-17.80736 -20.9043,-12.77485z">
    </a>
    <a class="layer-map__link" data-link-id="2/1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1656.9043,751.94386 -22.9935,44.07097 8.4857,5.20092 -0.5475,25.45715 71.4443,28.74194 29.8368,-27.09954 10.1282,-36.95393 -98.8176,-40.23871z">
    </a>
    <a class="layer-map__link" data-link-id="2/2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1747.5099,823.93557 0.2737,11.49678 -12.0442,7.11705 0.2737,2.73733 -13.4129,21.62488 84.5834,35.85899 57.2101,-42.42857 -9.8543,-5.74839 -6.5696,-19.43503 -2.7373,-18.06636 -20.53,-38.04885 -22.9936,15.60277 -5.7483,-10.40185 -10.1282,6.29586 -27.0995,-11.49678 -17.5189,42.42858z">
    </a>
    <a class="layer-map__link" data-link-id="2">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1890.6721,617.81481 -41.8811,17.79263 -15.6028,13.68664 -36.9539,-17.24516 -24.9097,53.10415 9.0332,3.01106 -4.3797,53.92535 80.2037,33.94286 84.0359,-65.69586 -10.4018,-23.26728 -1.9162,-18.61383z">
    </a>
    <a class="layer-map__link" data-link-id="1/1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1893.4094,752.21759 -35.859,50.64056 9.0332,0.27373 -0.2737,26.00461 14.7815,16.15024 17.5189,7.11705 35.859,3.28479 52.0093,-41.05991 -0.8212,-17.24516 7.6645,-6.29586 -39.4175,-47.6295 -35.5853,16.15024z">
    </a>
    <a class="layer-map__link" data-link-id="1">
      <path class="layer-map__path" fill="#f9f9f9" d="m 1998.7965,650.93648 67.0646,29.01567 -0.2738,63.77973 -61.5899,57.75761 -49.8193,-59.94748 -30.1106,14.78157 3.2848,-28.19447 9.8544,-32.02673z">
    </a>
    <a class="layer-map__link" data-link-id="1/3">
      <path class="layer-map__path" fill="#f9f9f9" d="m 2092.7521,821.84847 -16.646,28.64662 -17.8073,25.5497c 0,0 11.2264,18.19447 12.7748,18.19447 1.5485,0 34.0663,10.83927 34.0663,10.83927l 52.2607,-41.03436v -6.9681l -10.065,-19.35582 -10.065,-5.41964 -6.581,-3.48404 -22.0657,-6.19387z">
    </a>
  </svg>
  img(src="/img/dom/map/new-desktop-2.jpg" class="main-img" alt="")
  //-img(src="/img/dom/map/new-desktop.jpg" class="main-img" alt="")
  a.small-card(href="#")
    .small-card__content
      img(src="/img/dom/map/map-preview.jpg" alt="")
    .small-card__info 
      .small-card__titles 
        .text-lBold._title Courchevel
        .text-lBold._size 256 m²
      .small-card__description 
        .title 
          .icon
            img(src="" alt="")
          .caps-m RUSS-HOUSE
        .star 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M7.29097 1.42802C7.5812 0.857327 8.4188 0.857326 8.70903 1.42802L10.2598 4.4775C10.375 4.70396 10.5974 4.86096 10.8546 4.89746L14.3225 5.38946C14.9712 5.48149 15.2297 6.25638 14.7598 6.70059L12.2527 9.07074C12.0659 9.24732 11.9807 9.50197 12.0248 9.75153L12.6164 13.0998C12.7273 13.7275 12.0494 14.2063 11.4692 13.9101L8.36781 12.3271C8.13752 12.2095 7.86248 12.2095 7.63219 12.3271L4.53084 13.9101C3.95059 14.2063 3.27266 13.7275 3.38357 13.0998L3.97523 9.75153C4.01933 9.50197 3.93406 9.24732 3.74728 9.07074L1.24021 6.70059C0.770342 6.25638 1.02876 5.48149 1.67746 5.38946L5.14539 4.89746C5.40264 4.86096 5.62499 4.70396 5.74016 4.4775L7.29097 1.42802Z" fill="#F09F32"/>
          </svg>
          .text-s 5.0
        .review
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.27012 14.1333C4.78173 13.9477 5.21794 13.7075 5.56155 13.4823C6.31514 13.7742 7.13857 13.9348 8 13.9348C11.5898 13.9348 14.5 11.1512 14.5 7.7174C14.5 4.28363 11.5898 1.5 8 1.5C4.41017 1.5 1.5 4.28363 1.5 7.7174C1.5 9.00542 1.91009 10.2034 2.61215 11.1964C2.6567 12.0174 2.2059 12.7593 1.73802 13.4157C1.32822 13.9906 1.43104 14.4539 2.19515 14.4953C2.53764 14.5139 3.27846 14.4929 4.27012 14.1333Z" fill="#B3B3B3"/>
          </svg>
          p.text-s 68
          span.text-s reviews