.main-video._second 
  include ../blocks/_breadcrumb-absolute
  .main-video__cover
  .main-video__info
    .main-video__info-title
      img(src="/img/dom/footer/domnadom.svg" alt="")
      //- img(src="/img/dom/main-video/video-title.svg" alt="")
    .text-xlBold
      |A permanent exhibition of private low-rise housing construction,
      |which has been helping people choose a home and a construction company since 2017
  <video class="" loop muted="muted" autoplay="autoplay" playsinline webkit-playsinline preload="auto" poster="/img/newrubkoff/company.jpg">
    <source src="img/content/main-video.webm" type="video/webm">
    <source src="img/content/main-video.mp4" type="video/mp4">
  </video>