
<div class="marquee">
  <div class="marquee__block" style="--n: 12;max-width: auto;">
    <img src="/img/dom/rent/card-sm-1.png">
    <img src="/img/dom/rent/card-sm-2.png">
    <img src="/img/dom/rent/card-sm-3.png">
    <img src="/img/dom/rent/card-sm-4.png">
    <img src="/img/dom/rent/card-sm-5.png">
    <img src="/img/dom/rent/card-sm-6.png">
    <img src="/img/dom/rent/card-sm-7.png">
    <img src="/img/dom/rent/card-sm-8.png">
    <img src="/img/dom/rent/card-sm-9.png">
    <img src="/img/dom/rent/card-sm-11.png">
    <img src="/img/dom/rent/card-sm-13.png">
    <img src="/img/dom/rent/card-sm-15.png">
  </div>

  <div class="marquee__block" style="--n: 12;max-width: auto;">
    <img src="/img/dom/rent/card-sm-1.png">
    <img src="/img/dom/rent/card-sm-2.png">
    <img src="/img/dom/rent/card-sm-3.png">
    <img src="/img/dom/rent/card-sm-4.png">
    <img src="/img/dom/rent/card-sm-5.png">
    <img src="/img/dom/rent/card-sm-6.png">
    <img src="/img/dom/rent/card-sm-7.png">
    <img src="/img/dom/rent/card-sm-8.png">
    <img src="/img/dom/rent/card-sm-9.png">
    <img src="/img/dom/rent/card-sm-11.png">
    <img src="/img/dom/rent/card-sm-13.png">
    <img src="/img/dom/rent/card-sm-15.png">
  </div>

</div>

