
.menu-mobile
  .menu-mobile__close 
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
      <path d="M7.51172 24.4868L24.4823 7.51619" stroke="black" stroke-width="2"/>
      <path d="M7.51953 7.51617L24.4901 24.4867" stroke="black" stroke-width="2"/>
    </svg>
  ul.menu-mobile__list 
    li
      a.text-xlBold(href="#") House designs
    li
      a.text-xlBold(href="#") Manufacturers
    li
      a.text-xlBold(href="#") Exhibition plan
    li
      a.text-xlBold(href="#") For tenants
    li
      a.text-xlBold(href="#") About the exhibition
    li
      a.text-xlBold(href="#") News
    li
      a.text-xlBold(href="#") Contacts
  .menu-mobile__user 
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="37" viewBox="0 0 36 37" fill="none">
      <g clip-path="url(#clip0_473_368)">
        <path d="M24.9053 18.1758L21.1838 8.78576L18.0457 14.2758L14.9077 8.78576L11.1862 18.1788H10.1107V19.5903H15.7147V18.1788H14.8853L15.6923 15.8463L18.0457 19.7013L20.3993 15.8463L21.2062 18.1788H20.3767V19.5903H26.0032V18.1788L24.9053 18.1758ZM32.9077 15.3078C32.9087 13.3499 32.5238 11.411 31.775 9.60193C31.0262 7.79289 29.9282 6.14916 28.5438 4.76472C27.1593 3.38028 25.5156 2.28228 23.7066 1.53348C21.8975 0.784681 19.9586 0.399773 18.0007 0.400759C9.77475 0.400759 3.09375 7.08026 3.09375 15.3078C3.09375 19.4328 4.77525 23.1528 7.46475 25.8423C7.63317 26.0122 7.84831 26.1281 8.08281 26.1754C8.31732 26.2227 8.5606 26.1992 8.7817 26.1079C9.00281 26.0165 9.19175 25.8615 9.32451 25.6625C9.45727 25.4635 9.52784 25.2295 9.52725 24.9903C9.52776 24.6633 9.39888 24.3495 9.16875 24.1173C6.83892 21.778 5.53326 18.6093 5.53875 15.3078C5.53875 8.42576 11.1187 2.82176 18.0007 2.82176C24.8827 2.82176 30.4867 8.42576 30.4867 15.3078C30.4904 16.9482 30.1695 18.5731 29.5423 20.0889C28.9152 21.6047 27.9943 22.9814 26.8328 24.1398L16.2968 34.6743L18.0007 36.4008L28.5592 25.8423C29.9427 24.4596 31.0391 22.8171 31.7854 21.0092C32.5316 19.2013 32.9131 17.2636 32.9077 15.3078Z" fill="#2D9126"/>
      </g>
      <defs>
        <clipPath id="clip0_473_368">
          <rect width="36" height="36" fill="white" transform="translate(0 0.400757)"/>
        </clipPath>
      </defs>
    </svg>
    .text-xxlBold  
      |Domodedovskaya <br/>
      |Kashirskoe shosse, 63k1
    .text-l._text
      |3 minutes from the metro <br/>
      |Open seven days a week from 10:00 a.m. to 7:00 p.m.
    a.text-s._phone(href="tel:+74993944907") +7 (499) 394-49-07