.d-newsSlider
  .d-news
    a.d-news__el(href="#" data-aos="fade-up" data-aos-delay="50")
      .d-news__el-info
        .text-l September 20
      .d-news__content 
        .d-news__content-img 
          img(src="/img/dom/news/news-1.jpg" alt="")
        .d-news__content-info 
          p.text-l Construction Technology Tours - September 13
          p.text-m
            |We invite you to free tours of suburban construction technologies at our exhibition on Domodedovskaya Street, which will take place on September 13!
    a.d-news__el(href="#" data-aos="fade-up" data-aos-delay="100")
      .d-news__el-info
        .text-l September 15
      .d-news__content 
        .d-news__content-img 
          img(src="/img/dom/news/news-2.jpg" alt="")
        .d-news__content-info 
          p.text-l Grand opening of building No. 41
          p.text-m
            |We invite you to the grand opening of our new showhouse,
            |which will take place on September 20, 2025, at the "House to House" Home Exhibition.
            |KamStroyService will present its new showhouse project on lot #41.
    a.d-news__el(href="#" data-aos="fade-up" data-aos-delay="150")
      .d-news__el-info
        .text-l September 12
      .d-news__content 
        .d-news__content-img 
          img(src="/img/dom/news/news-3.jpg" alt="")
        .d-news__content-info 
          p.text-l Construction Technology Tours - September 27
          p.text-m
            |We invite you to attend free tours of suburban construction technologies at our exhibition on Domodedovskaya Street, which will take place on September 27!