
.pagination
  a.pagination__el._active
    .caps-sBold 1
  a.pagination__el
    .caps-sBold 2
  a.pagination__el
    .caps-sBold 3
  a.pagination__el
    .caps-sBold 4
  a.pagination__el
    .caps-sBold 5
  a.pagination__el._last
    .caps-sBold Next
