.page__container._error
  section.page__block.page__block_header-offset.page__block_article(style="display: flex; flex-direction: column; align-items: center;")
    .text-xxlBold  Error 404
    .text-h1 Page not found
    a.text-l.nbl-textAnimation._viceversa(href='/') Go to Main