
.block-contact 
  width: aCalc(376)
  padding: aCalc(24)
  border-radius: aCalc(12)
  border: 1px solid $CrystalBell
  background-color: $White
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08)
  +r($sm)
    width: unset
    padding: 24px
    border-radius: 12px
  &__item 
    width: 90%
  .text-m 
    margin: aCalc(12) 0 aCalc(20)
    +r($sm)
      margin: 12px 0 20px
  button
    background-color: $SyntheticPumpkin
    color: $White
    width: 100%
    border-radius: aCalc(6)
    +r($sm)
      border-radius: 6px