
.pagination
  display: flex
  align-items: center
  justify-content: center
  margin: aCalc(80) 0
  gap: aCalc(4)
  +r($sm)
    justify-content: flex-start
    margin: 44px 0
    gap: 2px
  &__el
    width: aCalc(40)
    height: aCalc(40)
    display: grid 
    justify-content: center
    align-items: center
    background-color: transparent 
    border-radius: aCalc(47)
    transition: background-color .3s, color .3s
    cursor: pointer
    +r($sm)
      width: 36px
      height: 36px
      border-radius: 47px
    &:hover 
      +dsk
        background-color: $SuperSilver
    &._active 
      background-color: $BaseBlack
      color: $White
    &._last 
      padding: aCalc(14) aCalc(10)
      width: unset 
      height: unset
      border-radius: unset
      opacity: 0.4
      +r($sm)
        display: none
      &:hover 
        +dsk
          background-color: unset  
      