
.policy, .page__container._error
  .text-h1, .text-xxlBold
    margin-bottom: aCalc(24)
    +r($sm)
      margin-bottom: 24px
  .text-xl
    margin-bottom: aCalc(16)
    +r($sm)
      margin-bottom: 16px