
.thanks
  height: 100vh
  display: grid 
  justify-content: center
  align-items: center
  +r($sm)
    height: unset
    margin-top: 60px
  &__block
    .text-xxlBold
      margin-bottom: aCalc(24)
      +r($sm)
        margin-bottom: 24px