block vars 
  - var breadcrumbText = ["Main", "News"]
.page__container
  .scroll-marker
  include ../blocks/_dFixedBlock

  section.page__block.d-middle._black(id="firstBlock")
    include ../blocks/_breadcrumb
    .text-h1.d-mainTitle News

    .news 
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 13
          .text-m
            |We invite you to attend free technology tours
            |suburban construction at our exhibition at Domodedovskaya, which will take place on September 13!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Grand opening of building No. 41
          .text-m
              |We invite you to the grand opening of the new exhibition house,
              |which will take place on September 20, 2025 at the House Exhibition "House to House".
              |KamStroyService will present its new exhibition house project on plot No. 41.
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!
      a.news__item(href="#" data-aos="fade-up" data-aos-delay="50") 
        .news__date
          .text-l September 12
        .news__img 
          img(src="/img/dom/dGridSlider/d-5.jpg" alt="")
        .news__text 
          .text-l Construction Technology Tours - September 27
          .text-m
            |We invite you to attend free tours of country house technologies
            |construction at our exhibition at Domodedovskaya, which will take place on September 27!

    include ../blocks/_pagination