.slide-button
  cursor: pointer
  transition: all 0.3s
  .slide-button-inner
    position: relative
    overflow: hidden
    border-radius: inherit
    & > span
      display: block
      transform: translateY(0)
      transition: transform 0.4s 0.05s, color 0.2s linear, background-color 0.2s linear
      &:nth-child(1)
        position: static
      &:nth-child(2)
        position: absolute
        width: 100%
  &:hover
    +dsk
      .slide-button-inner
        & > span
          transform: translateY(-100%)
          &:nth-child(2)
            position: absolute
  &.slide-button_horizontal
    .slide-button-inner
      & > span
        transform: translateX(0)
        transition: transform 0.4s 0.05s, color 0.3s
        &:nth-child(2)
          top: 0
          left: 100%
    &:hover
      +dsk
        .slide-button-inner
          & > span
            transform: translateX(-100%)



        