$ms: 369;
$sm: 767;
$lg: 1023;
$xl: 1200;
$hd: 1439;
$uhd: 1919;

$ms1: $ms + 1;
$sm1: $sm + 1;
$lg1: $lg + 1;
$xl1: $xl + 1;
$hd1: $hd + 1;

$baseFont: 'SF', sans-serif;
$secondaryFont: 'Druk';

$baseTextColor: #161616;
$BaseBlack: #000000;

$White : #FFFFFF;
$LynxWhite: #F7F7F7;

$WhiteGray : #F1F1F1;
$CerebralGrey: #CCCCCC;
$NamaraGrey: #7C7C7C;
$Snowflake: #f0f0f0;
$Gray: #F2F2F2;
$GrayBruh: #E5E5E5;

$SuperSilver: #EEEEEE;
$Silverback: #CBCBCB;

$PicoIvory: #FFEFE8;
$DownHome: #CCBFBA;
$Orochimaru: #D9D9D9;
$Steam: #DDDDDD;
$CrystalBell: #EFEFEF;

$SyntheticPumpkin: #FF783D;
$RhinocerosBeetle: #44000C;
$OldBrownCrayon: #360005;