block vars 
  - var breadcrumbText = ["Main", "News", "Where to start building a house: preparation and next steps"]

.page__container
  .scroll-marker
  include ../blocks/_dFixedBlock
  section.page__block.d-middle._black(id="firstBlock") 
    include ../blocks/_breadcrumb-small
    .article 
      h1 Where to start building a house: preparation and next steps
      p September 20
      img(src="/img/dom/article/article-1.jpg" alt="" data-aos="fade-up" data-aos-delay="50")
      p(data-aos="fade-up" data-aos-delay="100")
        |More and more people prefer to live in their own home – in the suburbs,
        |away from the bustle of the city. And although this choice is justified by the undeniable advantages—relaxing
        |in your own garden, playing with children outdoors, barbecues with friends, and other joys of private
        |homeownership—it initially involves the pleasant, yet significant, hassles
        |associated with building a house. Therefore, it's no surprise that the decision to begin building a private
        |home is an important milestone in the life of any family.
      h2(data-aos="fade-up" data-aos-delay="150") Preparatory stage of construction
      p(data-aos="fade-up" data-aos-delay="200") 
        |At this stage, several important issues will need to be addressed:
        |choosing a construction site, determining a budget, choosing
        |a house design, obtaining a building permit, and selecting a contractor.
        |All issues are equally important, and each will require sufficient attention.
      p(data-aos="fade-up" data-aos-delay="300")
        |When choosing and purchasing land for a new home, attention is paid to both legal and
        |and practical nuances. The procedure is accompanied by the preparation of numerous documents,
        |Therefore, it is advisable to involve a proven intermediary - a realtor or lawyer.
      p(data-aos="fade-up" data-aos-delay="350")
        |Determining how to properly build a house is impossible without a detailed inspection of the site
        |where the work will be carried out, and ideally, everything begins with finding the land for construction.
        |Since the comfort of future living directly depends on the location of the site,
        |then when choosing a site, several criteria are used:
      h3(data-aos="fade-up" data-aos-delay="150") Purchase of a plot of land
      p(data-aos="fade-up" data-aos-delay="350")
        |Determining how to properly build a house is impossible without a detailed inspection of the site
        |where the work will be carried out, and ideally, everything begins with finding the land for construction.
        |Since the comfort of future living directly depends on the location of the site,
        |then when choosing a site, several criteria are used:
      p(data-aos="fade-up" data-aos-delay="350")
        |Determining how to properly build a house is impossible without a detailed inspection of the site
        |where the work will be carried out, and ideally, everything begins with finding the land for construction.
        |Since the comfort of future living directly depends on the location of the site,
        |then when choosing a site, several criteria are used:
      ul 
        li 
          strong Features of the site.
            |Not only the area but also the topography is taken into account.
            |A site on a slope will require additional financial investments for planning and excavation work,
            |the construction of retaining walls.
        li 
          strong Owner's (seller's) documents.
          |It is necessary to verify their authenticity and correct completion (in the given dimensions).
        li 
          strong Location.
            |The proximity to civilization, the quality of access roads,
            |the availability of public transportation stops, and the environmental situation (nearby hazardous industries) are taken into account.
            |It is important to find out whether there is a swamp, wastewater treatment plant, or landfill nearby.
        li 
          strong Infrastructure.
          |The availability of utility lines is assessed (it is better to obtain detailed information from the management company).
      img(src="/img/dom/article/article-2.jpg" alt="" data-aos="fade-up" data-aos-delay="600")
      h2(data-aos="fade-up" data-aos-delay="600") What to build a house from
      p(data-aos="fade-up" data-aos-delay="600")
        |Choosing the right material is a topic for a separate, in-depth discussion.
        |Any material, whether brick, wood, sandwich panels, foam concrete, or aerated concrete,
        |has its own unique set of properties. These qualities can manifest themselves in both positive and negative ways, depending on the context of use.
      p(data-aos="fade-up" data-aos-delay="600") 
        |When choosing a material, local conditions (climate, topography) and economic
        |arguments are decisive. The latter often conflict with the desire to make a home comfortable, reliable, and environmentally friendly.
        |It's important to remember that any home requires thoughtful insulation, a reliable roof, and modern utilities.
      p(data-aos="fade-up" data-aos-delay="600")
        |In general, block houses (made from aerated concrete) and frame houses (including SIP panels) are cheaper and faster to build.
        |Modular houses take the least amount of time (1-2 days) to install, but they are not the most cost-effective option.
      h2(data-aos="fade-up" data-aos-delay="600") Construction costs
      p(data-aos="fade-up" data-aos-delay="600") 
        |This understandable desire to save money isn't justified when building a house,
        |as it often leads to increased costs down the road. Phased construction
        |of a house requires a detailed preliminary estimate; it's best to prepare this estimate together with the foreman—the construction company.
      p(data-aos="fade-up" data-aos-delay="600")
        |After the walls and roof are erected, the building's utility costs may seem unjustifiably high, but cutting them without good reason is not recommended.
      p(data-aos="fade-up" data-aos-delay="600")
        |Some construction companies provide a house plan and a detailed construction estimate absolutely
        |free. Standard designs and modular construction allow you to quickly choose a home,
        |its cost and give confidence in the future home, due to the technology that has been proven over the years.
      