
.nbl-cookies
  .nbl-cookies__body
    .text-lBold Мы используем cookies
    .text-m
      |Этот сайт использует файлы cookies для обеспечения удобства пользователей,
      |анализа трафика и персонализации контента. Продолжая пользоваться сайтом,
      |вы соглашаетесь с использованием файлов cookies.   
    .nbl-cookies__body-btns
      button.nbl-cookies__close Хорошо    
      a.nbl-cookies__link(href="#") Подробнее

